# Describing Structure

url = 'https://data.covid19india.org/v4/min/data.min.json'

response = requests.get(url)

dict_1 = json.loads(response.text)        #to convert json to dict

print(type(dict_1))                       #to check the data type

df = pd.DataFrame(dict_1)

df=df.transpose()

df

import pandas as pd

import json

with open(r"C:\Users\Sudheer\Desktop\covid\data.min.json"
encoding='utf-8') as file:

    df=pd.read_json(file)
    
df

In [ ]:
import requests
import pandas as pd
x = requests.get('https://data.covid19india.org/v4/min/data.min.json')
df=pd.DataFrame(x.json()).transpose()
df

,delta,delta21_14,delta7,districts,meta,total
AN,"{'tested': 1376, 'vaccinated1': 3, 'vaccinated...",{'confirmed': 9},"{'confirmed': 3, 'recovered': 5, 'tested': 893...","{'Nicobars': {'delta7': {'vaccinated1': 62, 'v...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 7651, 'deceased': 129, 'recovere..."
AP,"{'confirmed': 385, 'deceased': 4, 'recovered':...",{'confirmed': 3220},"{'confirmed': 2873, 'deceased': 30, 'recovered...","{'Anantapur': {'delta': {'confirmed': 4, 'reco...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 2066450, 'deceased': 14373, 'rec..."
AR,"{'confirmed': 1, 'recovered': 9, 'tested': 334...",{'confirmed': 87},"{'confirmed': 66, 'recovered': 97, 'tested': 4...","{'Anjaw': {'delta7': {'vaccinated1': 45, 'vacc...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 55155, 'deceased': 280, 'recover..."
AS,"{'confirmed': 212, 'deceased': 1, 'recovered':...",{'confirmed': 1499},"{'confirmed': 2056, 'deceased': 24, 'recovered...","{'Baksa': {'delta': {'vaccinated1': 39, 'vacci...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 610645, 'deceased': 5997, 'other..."
BR,"{'confirmed': 8, 'recovered': 9, 'tested': 226...",{'confirmed': 30},"{'confirmed': 40, 'recovered': 31, 'tested': 1...","{'Araria': {'delta': {'vaccinated1': 5177, 'va...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 726098, 'deceased': 9661, 'other..."
CH,"{'confirmed': 5, 'recovered': 3, 'tested': 140...",{'confirmed': 23},"{'confirmed': 28, 'recovered': 20, 'tested': 1...","{'Chandigarh': {'delta': {'confirmed': 5, 'rec...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 65351, 'deceased': 820, 'recover..."
CT,"{'confirmed': 32, 'deceased': 1, 'recovered': ...",{'confirmed': 124},"{'confirmed': 205, 'deceased': 5, 'recovered':...","{'Balod': {'delta': {'vaccinated1': 523, 'vacc...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 1006052, 'deceased': 13577, 'rec..."
DL,"{'confirmed': 45, 'recovered': 46, 'tested': 5...",{'confirmed': 195},"{'confirmed': 267, 'recovered': 239, 'tested':...","{'Delhi': {'delta': {'confirmed': 45, 'recover...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 1439870, 'deceased': 25091, 'rec..."
DN,"{'recovered': 1, 'vaccinated1': 3, 'vaccinated...",{'confirmed': 4},"{'recovered': 2, 'vaccinated1': 2802, 'vaccina...",{'Dadra and Nagar Haveli': {'delta': {'vaccina...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 10681, 'deceased': 4, 'other': 3..."
GA,"{'confirmed': 23, 'recovered': 53, 'tested': 2...",{'confirmed': 409},"{'confirmed': 222, 'deceased': 6, 'recovered':...","{'North Goa': {'delta': {'vaccinated1': 1070, ...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 178108, 'deceased': 3364, 'recov..."
GJ,"{'confirmed': 20, 'recovered': 23, 'tested': 3...",{'confirmed': 149},"{'confirmed': 159, 'deceased': 2, 'recovered':...","{'Ahmedabad': {'delta': {'confirmed': 4, 'reco...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 826577, 'deceased': 10089, 'reco..."
HP,"{'confirmed': 85, 'deceased': 1, 'recovered': ...",{'confirmed': 958},"{'confirmed': 1537, 'deceased': 20, 'other': -...","{'Bilaspur': {'delta': {'confirmed': 11, 'reco...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 224106, 'deceased': 3738, 'other..."
HR,"{'confirmed': 11, 'recovered': 10, 'tested': 2...",{'confirmed': 83},"{'confirmed': 95, 'recovered': 87, 'tested': 1...","{'Ambala': {'delta': {'vaccinated1': 100, 'vac...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 771252, 'deceased': 10049, 'reco..."
JH,"{'confirmed': 10, 'recovered': 8, 'tested': 31...",{'confirmed': 78},"{'confirmed': 137, 'deceased': 3, 'recovered':...","{'Bokaro': {'delta': {'vaccinated1': 3236, 'va...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 348764, 'deceased': 5138, 'recov..."
JK,"{'confirmed': 95, 'recovered': 79, 'tested': 3...",{'confirmed': 529},"{'confirmed': 611, 'deceased': 3, 'recovered':...","{'Anantnag': {'delta': {'confirmed': 2, 'recov...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 332249, 'deceased': 4432, 'recov..."
KA,"{'confirmed': 292, 'deceased': 11, 'recovered'...",{'confirmed': 2432},"{'confirmed': 2347, 'deceased': 75, 'recovered...","{'Bagalkote': {'delta': {'vaccinated1': 823, '...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 2988333, 'deceased': 38082, 'oth..."
KL,"{'confirmed': 7167, 'deceased': 167, 'recovere...",{'confirmed': 59521},"{'confirmed': 53326, 'deceased': 3089, 'recove...","{'Alappuzha': {'delta': {'confirmed': 270, 'de...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 4968657, 'deceased': 31681, 'oth..."
LA,"{'confirmed': 11, 'recovered': 9, 'tested': 38...",{'confirmed': 26},"{'confirmed': 58, 'recovered': 28, 'tested': 2...","{'Kargil': {'delta': {'vaccinated2': 3}, 'delt...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 20962, 'deceased': 208, 'recover..."
LD,"{'tested': 31, 'vaccinated2': 4}",NaN,"{'tested': 1625, 'vaccinated1': 69, 'vaccinate...","{'Lakshadweep': {'delta': {'tested': 31, 'vacc...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 10365, 'deceased': 51, 'other': ..."
MH,"{'confirmed': 1172, 'deceased': 20, 'recovered...",{'confirmed': 13825},"{'confirmed': 8117, 'deceased': 200, 'other': ...","{'Ahmednagar': {'delta': {'confirmed': 138, 'd...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 6611078, 'deceased': 140216, 'ot..."
ML,"{'confirmed': 22, 'deceased': 1, 'recovered': ...",{'confirmed': 530},"{'confirmed': 256, 'deceased': 4, 'recovered':...",{'East Garo Hills': {'delta': {'recovered': 1}...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 83627, 'deceased': 1450, 'recove..."
MN,"{'confirmed': 63, 'deceased': 1, 'recovered': ...",{'confirmed': 734},"{'confirmed': 439, 'deceased': 10, 'recovered'...","{'Bishnupur': {'delta7': {'vaccinated1': 685, ...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 123731, 'deceased': 1921, 'recov..."
MP,"{'confirmed': 16, 'recovered': 8, 'tested': 55...",{'confirmed': 63},"{'confirmed': 105, 'deceased': 1, 'recovered':...","{'Agar Malwa': {'delta': {'vaccinated1': 12, '...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 792854, 'deceased': 10524, 'reco..."
MZ,"{'confirmed': 579, 'deceased': 2, 'recovered':...",{'confirmed': 6770},"{'confirmed': 4098, 'deceased': 21, 'recovered...","{'Aizawl': {'delta': {'confirmed': 361, 'decea...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 121359, 'deceased': 432, 'recove..."
NL,"{'confirmed': 11, 'deceased': 1, 'other': 1, '...",{'confirmed': 162},"{'confirmed': 130, 'deceased': 6, 'other': 13,...","{'Dimapur': {'delta': {'confirmed': 3, 'deceas...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 31842, 'deceased': 685, 'other':..."
OR,"{'confirmed': 488, 'deceased': 4, 'recovered':...",{'confirmed': 3381},"{'confirmed': 3046, 'deceased': 24, 'recovered...","{'Angul': {'delta': {'confirmed': 1, 'recovere...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 1041457, 'deceased': 8386, 'reco..."
PB,"{'confirmed': 26, 'deceased': 1, 'recovered': ...",{'confirmed': 159},"{'confirmed': 192, 'deceased': 8, 'recovered':...","{'Amritsar': {'delta': {'confirmed': 4, 'recov...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 602401, 'deceased': 16559, 'reco..."
PY,"{'confirmed': 38, 'recovered': 45, 'tested': 2...",{'confirmed': 343},"{'confirmed': 278, 'recovered': 315, 'tested':...","{'Karaikal': {'delta': {'confirmed': 6, 'recov...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 128013, 'deceased': 1857, 'recov..."
RJ,"{'confirmed': 2, 'recovered': 2, 'tested': 134...",{'confirmed': 31},"{'confirmed': 27, 'recovered': 26, 'tested': 9...","{'Ajmer': {'delta': {'vaccinated1': 110, 'vacc...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 954429, 'deceased': 8954, 'recov..."
SK,"{'confirmed': 21, 'deceased': 1, 'recovered': ...",{'confirmed': 82},"{'confirmed': 79, 'deceased': 2, 'other': 6, '...",{'East Sikkim': {'delta7': {'vaccinated1': 528...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 31979, 'deceased': 396, 'other':..."
TG,"{'confirmed': 121, 'deceased': 1, 'recovered':...",{'confirmed': 1068},"{'confirmed': 1189, 'deceased': 9, 'recovered'...","{'Adilabad': {'delta': {'vaccinated1': 165, 'v...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 671463, 'deceased': 3956, 'recov..."
TN,"{'confirmed': 1009, 'deceased': 19, 'recovered...",{'confirmed': 8827},"{'confirmed': 7407, 'deceased': 97, 'recovered...",{'Airport Quarantine': {'delta21_14': {'confir...,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 2702623, 'deceased': 36116, 'rec..."
TR,"{'confirmed': 12, 'recovered': 2, 'tested': 35...",{'confirmed': 49},"{'confirmed': 87, 'recovered': 62, 'tested': 2...","{'Dhalai': {'delta': {'vaccinated1': 5, 'vacci...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 84468, 'deceased': 813, 'other':..."
TT,"{'confirmed': 12907, 'deceased': 251, 'other':...",{'confirmed': 109755},"{'confirmed': 96071, 'deceased': 3727, 'other'...",NaN,"{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 34285612, 'deceased': 458470, 'o..."
UP,"{'confirmed': 6, 'recovered': 6, 'tested': 161...",{'confirmed': 74},"{'confirmed': 63, 'deceased': 1, 'recovered': ...","{'Agra': {'delta': {'vaccinated1': 178, 'vacci...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 1710158, 'deceased': 22900, 'rec..."
UT,"{'confirmed': 5, 'recovered': 9, 'tested': 952...",{'confirmed': 88},"{'confirmed': 75, 'deceased': 1, 'other': 12, ...","{'Almora': {'delta': {'vaccinated1': 37, 'vacc...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 343896, 'deceased': 7400, 'other..."
WB,"{'confirmed': 914, 'deceased': 15, 'recovered'...",{'confirmed': 4193},"{'confirmed': 6453, 'deceased': 86, 'recovered...","{'Alipurduar': {'delta': {'confirmed': 4, 'rec...","{'date': '2021-10-31', 'last_updated': '2021-1...","{'confirmed': 1592908, 'deceased': 19141, 'rec..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, AN to WB
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   delta       37 non-null     object
 1   delta21_14  36 non-null     object
 2   delta7      37 non-null     object
 3   districts   36 non-null     object
 4   meta        37 non-null     object
 5   total       37 non-null     object
dtypes: object(6)
memory usage: 2.0+ KB

# identifying on which columns we have nulls

In [ ]:
df.isnull().sum()

delta         0
delta21_14    1
delta7        0
districts     1
meta          0
total         0
dtype: int64

# so we have found nulls in delta21_14,districts  so we must drop the extra nulls

In [ ]:
df.dropna(subset=['delta21_14','districts'],inplace=True)

# checking whether nuuls are dropped or not

In [ ]:
df.isnull().sum()

delta         0
delta21_14    0
delta7        0
districts     0
meta          0
total         0
dtype: int64

# all the nulls of outer table dropped so lets extract one by one

In [ ]:
pd.DataFrame(data=[x for x in df["delta"]],index=df["delta"].keys())

      tested  vaccinated1  vaccinated2  confirmed  deceased  recovered  other
AN    1376.0          3.0         13.0        NaN       NaN        NaN    NaN
AP   39848.0      20497.0      24137.0      385.0       4.0      675.0    NaN
AR     334.0         42.0        195.0        1.0       NaN        9.0    NaN
AS   15060.0      19124.0      37463.0      212.0       1.0      236.0    NaN
BR  226443.0     114694.0     145827.0        8.0       NaN        9.0    NaN
CH    1403.0        211.0       1282.0        5.0       NaN        3.0    NaN
CT   11869.0      21312.0      39393.0       32.0       1.0       32.0    NaN
DL   56751.0      12482.0      11839.0       45.0       NaN       46.0    NaN
DN       NaN          3.0         20.0        NaN       NaN        1.0    NaN
GA    2361.0       2572.0      12404.0       23.0       NaN       53.0    NaN
GJ   34282.0      14685.0      62096.0       20.0       NaN       23.0    NaN
HP    3613.0        371.0       8192.0       85.0       1.0      198.0    NaN
HR   20588.0       7867.0      15801.0       11.0       NaN       10.0    NaN
JH   31238.0      41034.0      51488.0       10.0       NaN        8.0    NaN
JK   38915.0       1584.0      45202.0       95.0       NaN       79.0    NaN
KA  106939.0      17604.0      28163.0      292.0      11.0      345.0    NaN
KL   65158.0       2010.0      11914.0     7167.0     167.0     6439.0    NaN
LA     388.0          NaN          2.0       11.0       NaN        9.0    NaN
MH  108040.0      53161.0      31988.0     1172.0      20.0     1399.0    NaN
ML    1559.0         38.0        203.0       22.0       1.0       51.0    NaN
MN    1689.0        705.0       4283.0       63.0       1.0       62.0    NaN
MP   55368.0       5713.0      77062.0       16.0       NaN        8.0    NaN
MZ    5945.0         10.0         51.0      579.0       2.0      610.0    NaN
NL     468.0        193.0        822.0       11.0       1.0       21.0    1.0
OR   69675.0      21420.0      25651.0      488.0       4.0      450.0    NaN
PB   34152.0       3321.0       4418.0       26.0       1.0       25.0    NaN
PY    2662.0        171.0        532.0       38.0       NaN       45.0    NaN
RJ   13454.0       9399.0      29672.0        2.0       NaN        2.0    NaN
SK     389.0          NaN          NaN       21.0       1.0        8.0    NaN
TG   25021.0      38781.0      26738.0      121.0       1.0      183.0    NaN
TN  123701.0      77325.0     106584.0     1009.0      19.0     1183.0    NaN
TR    3501.0          3.0        650.0       12.0       NaN        2.0    NaN
UP  161458.0      53401.0      57556.0        6.0       NaN        6.0    NaN
UT    9524.0       1065.0      12934.0        5.0       NaN        9.0    NaN
WB   47417.0     209609.0      58881.0      914.0      15.0      913.0    NaN

# in delta table we dont need other column since includes nulls removing column from dataframe,if there are rows with all places nulls then mention index and axis=0

In [ ]:
pd.DataFrame(data=[x for x in df["delta"]],index=df["delta"].keys()).drop('other',axis=1)

      tested  vaccinated1  vaccinated2  confirmed  deceased  recovered
AN    1376.0          3.0         13.0        NaN       NaN        NaN
AP   39848.0      20497.0      24137.0      385.0       4.0      675.0
AR     334.0         42.0        195.0        1.0       NaN        9.0
AS   15060.0      19124.0      37463.0      212.0       1.0      236.0
BR  226443.0     114694.0     145827.0        8.0       NaN        9.0
CH    1403.0        211.0       1282.0        5.0       NaN        3.0
CT   11869.0      21312.0      39393.0       32.0       1.0       32.0
DL   56751.0      12482.0      11839.0       45.0       NaN       46.0
DN       NaN          3.0         20.0        NaN       NaN        1.0
GA    2361.0       2572.0      12404.0       23.0       NaN       53.0
GJ   34282.0      14685.0      62096.0       20.0       NaN       23.0
HP    3613.0        371.0       8192.0       85.0       1.0      198.0
HR   20588.0       7867.0      15801.0       11.0       NaN       10.0
JH   31238.0      41034.0      51488.0       10.0       NaN        8.0
JK   38915.0       1584.0      45202.0       95.0       NaN       79.0
KA  106939.0      17604.0      28163.0      292.0      11.0      345.0
KL   65158.0       2010.0      11914.0     7167.0     167.0     6439.0
LA     388.0          NaN          2.0       11.0       NaN        9.0
MH  108040.0      53161.0      31988.0     1172.0      20.0     1399.0
ML    1559.0         38.0        203.0       22.0       1.0       51.0
MN    1689.0        705.0       4283.0       63.0       1.0       62.0
MP   55368.0       5713.0      77062.0       16.0       NaN        8.0
MZ    5945.0         10.0         51.0      579.0       2.0      610.0
NL     468.0        193.0        822.0       11.0       1.0       21.0
OR   69675.0      21420.0      25651.0      488.0       4.0      450.0
PB   34152.0       3321.0       4418.0       26.0       1.0       25.0
PY    2662.0        171.0        532.0       38.0       NaN       45.0
RJ   13454.0       9399.0      29672.0        2.0       NaN        2.0
SK     389.0          NaN          NaN       21.0       1.0        8.0
TG   25021.0      38781.0      26738.0      121.0       1.0      183.0
TN  123701.0      77325.0     106584.0     1009.0      19.0     1183.0
TR    3501.0          3.0        650.0       12.0       NaN        2.0
UP  161458.0      53401.0      57556.0        6.0       NaN        6.0
UT    9524.0       1065.0      12934.0        5.0       NaN        9.0
WB   47417.0     209609.0      58881.0      914.0      15.0      913.0

# to get on how many nulls present in each column ?

In [ ]:
pd.DataFrame(data=[x for x in df["delta"]],index=df["delta"].keys()).drop('other',axis=1).isnull().sum()

tested          1
vaccinated1     2
vaccinated2     1
confirmed       2
deceased       18
recovered       1
dtype: int64

# removing the rows which are contains nulls in the whole row

In [ ]:
delta_T=pd.DataFrame(data=[x for x in df["delta"]],index=df["delta"].keys()).drop('other',axis=1).dropna(how='all')
delta_T

      tested  vaccinated1  vaccinated2  confirmed  deceased  recovered
AN    1376.0          3.0         13.0        NaN       NaN        NaN
AP   39848.0      20497.0      24137.0      385.0       4.0      675.0
AR     334.0         42.0        195.0        1.0       NaN        9.0
AS   15060.0      19124.0      37463.0      212.0       1.0      236.0
BR  226443.0     114694.0     145827.0        8.0       NaN        9.0
CH    1403.0        211.0       1282.0        5.0       NaN        3.0
CT   11869.0      21312.0      39393.0       32.0       1.0       32.0
DL   56751.0      12482.0      11839.0       45.0       NaN       46.0
DN       NaN          3.0         20.0        NaN       NaN        1.0
GA    2361.0       2572.0      12404.0       23.0       NaN       53.0
GJ   34282.0      14685.0      62096.0       20.0       NaN       23.0
HP    3613.0        371.0       8192.0       85.0       1.0      198.0
HR   20588.0       7867.0      15801.0       11.0       NaN       10.0
JH   31238.0      41034.0      51488.0       10.0       NaN        8.0
JK   38915.0       1584.0      45202.0       95.0       NaN       79.0
KA  106939.0      17604.0      28163.0      292.0      11.0      345.0
KL   65158.0       2010.0      11914.0     7167.0     167.0     6439.0
LA     388.0          NaN          2.0       11.0       NaN        9.0
MH  108040.0      53161.0      31988.0     1172.0      20.0     1399.0
ML    1559.0         38.0        203.0       22.0       1.0       51.0
MN    1689.0        705.0       4283.0       63.0       1.0       62.0
MP   55368.0       5713.0      77062.0       16.0       NaN        8.0
MZ    5945.0         10.0         51.0      579.0       2.0      610.0
NL     468.0        193.0        822.0       11.0       1.0       21.0
OR   69675.0      21420.0      25651.0      488.0       4.0      450.0
PB   34152.0       3321.0       4418.0       26.0       1.0       25.0
PY    2662.0        171.0        532.0       38.0       NaN       45.0
RJ   13454.0       9399.0      29672.0        2.0       NaN        2.0
SK     389.0          NaN          NaN       21.0       1.0        8.0
TG   25021.0      38781.0      26738.0      121.0       1.0      183.0
TN  123701.0      77325.0     106584.0     1009.0      19.0     1183.0
TR    3501.0          3.0        650.0       12.0       NaN        2.0
UP  161458.0      53401.0      57556.0        6.0       NaN        6.0
UT    9524.0       1065.0      12934.0        5.0       NaN        9.0
WB   47417.0     209609.0      58881.0      914.0      15.0      913.0

# replacing all the nulls of columns in above dataframe with 0

# delta final table after data cleaning as delta_T

In [ ]:
delta_T.fillna(value=0,inplace=True)
delta_T

      tested  vaccinated1  vaccinated2  confirmed  deceased  recovered
AN    1376.0          3.0         13.0        0.0       0.0        0.0
AP   39848.0      20497.0      24137.0      385.0       4.0      675.0
AR     334.0         42.0        195.0        1.0       0.0        9.0
AS   15060.0      19124.0      37463.0      212.0       1.0      236.0
BR  226443.0     114694.0     145827.0        8.0       0.0        9.0
CH    1403.0        211.0       1282.0        5.0       0.0        3.0
CT   11869.0      21312.0      39393.0       32.0       1.0       32.0
DL   56751.0      12482.0      11839.0       45.0       0.0       46.0
DN       0.0          3.0         20.0        0.0       0.0        1.0
GA    2361.0       2572.0      12404.0       23.0       0.0       53.0
GJ   34282.0      14685.0      62096.0       20.0       0.0       23.0
HP    3613.0        371.0       8192.0       85.0       1.0      198.0
HR   20588.0       7867.0      15801.0       11.0       0.0       10.0
JH   31238.0      41034.0      51488.0       10.0       0.0        8.0
JK   38915.0       1584.0      45202.0       95.0       0.0       79.0
KA  106939.0      17604.0      28163.0      292.0      11.0      345.0
KL   65158.0       2010.0      11914.0     7167.0     167.0     6439.0
LA     388.0          0.0          2.0       11.0       0.0        9.0
MH  108040.0      53161.0      31988.0     1172.0      20.0     1399.0
ML    1559.0         38.0        203.0       22.0       1.0       51.0
MN    1689.0        705.0       4283.0       63.0       1.0       62.0
MP   55368.0       5713.0      77062.0       16.0       0.0        8.0
MZ    5945.0         10.0         51.0      579.0       2.0      610.0
NL     468.0        193.0        822.0       11.0       1.0       21.0
OR   69675.0      21420.0      25651.0      488.0       4.0      450.0
PB   34152.0       3321.0       4418.0       26.0       1.0       25.0
PY    2662.0        171.0        532.0       38.0       0.0       45.0
RJ   13454.0       9399.0      29672.0        2.0       0.0        2.0
SK     389.0          0.0          0.0       21.0       1.0        8.0
TG   25021.0      38781.0      26738.0      121.0       1.0      183.0
TN  123701.0      77325.0     106584.0     1009.0      19.0     1183.0
TR    3501.0          3.0        650.0       12.0       0.0        2.0
UP  161458.0      53401.0      57556.0        6.0       0.0        6.0
UT    9524.0       1065.0      12934.0        5.0       0.0        9.0
WB   47417.0     209609.0      58881.0      914.0      15.0      913.0

In [ ]:
delta_T.index.name='State_code'
delta_T

              tested  vaccinated1  vaccinated2  confirmed  deceased  recovered
State_code
AN            1376.0          3.0         13.0        0.0       0.0        0.0
AP           39848.0      20497.0      24137.0      385.0       4.0      675.0
AR             334.0         42.0        195.0        1.0       0.0        9.0
AS           15060.0      19124.0      37463.0      212.0       1.0      236.0
BR          226443.0     114694.0     145827.0        8.0       0.0        9.0
CH            1403.0        211.0       1282.0        5.0       0.0        3.0
CT           11869.0      21312.0      39393.0       32.0       1.0       32.0
DL           56751.0      12482.0      11839.0       45.0       0.0       46.0
DN               0.0          3.0         20.0        0.0       0.0        1.0
GA            2361.0       2572.0      12404.0       23.0       0.0       53.0
GJ           34282.0      14685.0      62096.0       20.0       0.0       23.0
HP            3613.0        371.0       8192.0       85.0       1.0      198.0
HR           20588.0       7867.0      15801.0       11.0       0.0       10.0
JH           31238.0      41034.0      51488.0       10.0       0.0        8.0
JK           38915.0       1584.0      45202.0       95.0       0.0       79.0
KA          106939.0      17604.0      28163.0      292.0      11.0      345.0
KL           65158.0       2010.0      11914.0     7167.0     167.0     6439.0
LA             388.0          0.0          2.0       11.0       0.0        9.0
MH          108040.0      53161.0      31988.0     1172.0      20.0     1399.0
ML            1559.0         38.0        203.0       22.0       1.0       51.0
MN            1689.0        705.0       4283.0       63.0       1.0       62.0
MP           55368.0       5713.0      77062.0       16.0       0.0        8.0
MZ            5945.0         10.0         51.0      579.0       2.0      610.0
NL             468.0        193.0        822.0       11.0       1.0       21.0
OR           69675.0      21420.0      25651.0      488.0       4.0      450.0
PB           34152.0       3321.0       4418.0       26.0       1.0       25.0
PY            2662.0        171.0        532.0       38.0       0.0       45.0
RJ           13454.0       9399.0      29672.0        2.0       0.0        2.0
SK             389.0          0.0          0.0       21.0       1.0        8.0
TG           25021.0      38781.0      26738.0      121.0       1.0      183.0
TN          123701.0      77325.0     106584.0     1009.0      19.0     1183.0
TR            3501.0          3.0        650.0       12.0       0.0        2.0
UP          161458.0      53401.0      57556.0        6.0       0.0        6.0
UT            9524.0       1065.0      12934.0        5.0       0.0        9.0
WB           47417.0     209609.0      58881.0      914.0      15.0      913.0

In [ ]:
delta_T.to_csv(r"C:\Users\Sudheer\Desktop\pr2\delta.csv")

# delta21_14

# delta21_14 final table after data cleaning

In [ ]:
pd.DataFrame(data=[x for x in df["delta21_14"]],index=df["delta21_14"].keys())

    confirmed
AN          9
AP       3220
AR         87
AS       1499
BR         30
CH         23
CT        124
DL        195
DN          4
GA        409
GJ        149
HP        958
HR         83
JH         78
JK        529
KA       2432
KL      59521
LA         26
MH      13825
ML        530
MN        734
MP         63
MZ       6770
NL        162
OR       3381
PB        159
PY        343
RJ         31
SK         82
TG       1068
TN       8827
TR         49
UP         74
UT         88
WB       4193

# counting nulls

In [ ]:
pd.DataFrame(data=[x for x in df["delta21_14"]],index=df["delta21_14"].keys()).isnull().sum()

confirmed    0
dtype: int64

In [ ]:
pd.DataFrame(data=[x for x in df["delta21_14"]],index=df["delta21_14"].keys()).index.name='State_code'

In [ ]:
pd.DataFrame(data=[x for x in df["delta21_14"]],index=df["delta21_14"].keys()).to_csv(r"C:\Users\Sudheer\Desktop\pr2\delta21_14.csv")

# delta7

In [ ]:
pd.DataFrame(data=[x for x in df["delta7"]],index=df["delta7"].keys())

,confirmed,recovered,tested,vaccinated1,vaccinated2,deceased,other
State_code,,,,,,,
AN,3.0,5,8936.0,884,10640,NaN,NaN
AP,2873.0,3590,254532.0,1223010,1887005,30.0,NaN
AR,66.0,97,4788.0,3312,23647,NaN,NaN
AS,2056.0,2215,269097.0,274869,849889,24.0,NaN
BR,40.0,31,1378539.0,1286708,2144970,NaN,NaN
CH,28.0,20,10726.0,3680,21641,NaN,NaN
CT,205.0,103,147451.0,379374,604260,5.0,NaN
DL,267.0,239,395086.0,160323,269146,NaN,NaN
DN,NaN,2,NaN,2802,14244,NaN,NaN
GA,222.0,409,19026.0,8418,46494,6.0,NaN
GJ,159.0,116,328489.0,335172,1660382,2.0,NaN
HP,1537.0,1154,64352.0,13244,234011,20.0,-1.0
HR,95.0,87,148110.0,160777,368141,NaN,NaN
JH,137.0,250,464579.0,299587,428313,3.0,NaN
JK,611.0,572,254608.0,33383,414843,3.0,NaN
KA,2347.0,2339,724215.0,623591,1373861,75.0,NaN
KL,53326.0,48406,506604.0,109805,792534,3089.0,NaN
LA,58.0,28,2475.0,525,1532,NaN,NaN
MH,8117.0,15146,773516.0,1611778,1282938,200.0,7.0
ML,256.0,460,13944.0,7871,41927,4.0,NaN
MN,439.0,652,12787.0,7665,71276,10.0,NaN
MP,105.0,74,393209.0,148817,2034460,1.0,NaN
MZ,4098.0,5685,42841.0,4302,11262,21.0,NaN
NL,130.0,144,4606.0,4706,23628,6.0,13.0
OR,3046.0,3230,473919.0,731837,917236,24.0,NaN
PB,192.0,162,221114.0,200182,223256,8.0,NaN
PY,278.0,315,21095.0,8324,20073,NaN,NaN
RJ,27.0,26,95132.0,271500,864947,NaN,NaN
SK,79.0,76,2847.0,782,14044,2.0,6.0
TG,1189.0,1121,261086.0,1072389,961422,9.0,NaN
TN,7407.0,8852,858304.0,788134,1578082,97.0,NaN
TR,87.0,62,22126.0,4155,74642,NaN,NaN
UP,63.0,58,1140736.0,2266921,3130828,1.0,NaN
UT,75.0,74,83377.0,25250,258381,1.0,12.0
WB,6453.0,5953,300114.0,3809597,1871612,86.0,NaN

In [ ]:
pd.DataFrame(data=[x for x in df["delta7"]],index=df["delta7"].keys()).drop('other',axis=1)

,confirmed,recovered,tested,vaccinated1,vaccinated2,deceased
State_code,,,,,,
AN,3.0,5,8936.0,884,10640,NaN
AP,2873.0,3590,254532.0,1223010,1887005,30.0
AR,66.0,97,4788.0,3312,23647,NaN
AS,2056.0,2215,269097.0,274869,849889,24.0
BR,40.0,31,1378539.0,1286708,2144970,NaN
CH,28.0,20,10726.0,3680,21641,NaN
CT,205.0,103,147451.0,379374,604260,5.0
DL,267.0,239,395086.0,160323,269146,NaN
DN,NaN,2,NaN,2802,14244,NaN
GA,222.0,409,19026.0,8418,46494,6.0
GJ,159.0,116,328489.0,335172,1660382,2.0
HP,1537.0,1154,64352.0,13244,234011,20.0
HR,95.0,87,148110.0,160777,368141,NaN
JH,137.0,250,464579.0,299587,428313,3.0
JK,611.0,572,254608.0,33383,414843,3.0
KA,2347.0,2339,724215.0,623591,1373861,75.0
KL,53326.0,48406,506604.0,109805,792534,3089.0
LA,58.0,28,2475.0,525,1532,NaN
MH,8117.0,15146,773516.0,1611778,1282938,200.0
ML,256.0,460,13944.0,7871,41927,4.0
MN,439.0,652,12787.0,7665,71276,10.0
MP,105.0,74,393209.0,148817,2034460,1.0
MZ,4098.0,5685,42841.0,4302,11262,21.0
NL,130.0,144,4606.0,4706,23628,6.0
OR,3046.0,3230,473919.0,731837,917236,24.0
PB,192.0,162,221114.0,200182,223256,8.0
PY,278.0,315,21095.0,8324,20073,NaN
RJ,27.0,26,95132.0,271500,864947,NaN
SK,79.0,76,2847.0,782,14044,2.0
TG,1189.0,1121,261086.0,1072389,961422,9.0
TN,7407.0,8852,858304.0,788134,1578082,97.0
TR,87.0,62,22126.0,4155,74642,NaN
UP,63.0,58,1140736.0,2266921,3130828,1.0
UT,75.0,74,83377.0,25250,258381,1.0
WB,6453.0,5953,300114.0,3809597,1871612,86.0

In [ ]:
delta7_T=pd.DataFrame(data=[x for x in df["delta7"]],index=df["delta7"].keys()).drop('other',axis=1).dropna(how='all')
delta7_T

,confirmed,recovered,tested,vaccinated1,vaccinated2,deceased
State_code,,,,,,
AN,3.0,5,8936.0,884,10640,NaN
AP,2873.0,3590,254532.0,1223010,1887005,30.0
AR,66.0,97,4788.0,3312,23647,NaN
AS,2056.0,2215,269097.0,274869,849889,24.0
BR,40.0,31,1378539.0,1286708,2144970,NaN
CH,28.0,20,10726.0,3680,21641,NaN
CT,205.0,103,147451.0,379374,604260,5.0
DL,267.0,239,395086.0,160323,269146,NaN
DN,NaN,2,NaN,2802,14244,NaN
GA,222.0,409,19026.0,8418,46494,6.0
GJ,159.0,116,328489.0,335172,1660382,2.0
HP,1537.0,1154,64352.0,13244,234011,20.0
HR,95.0,87,148110.0,160777,368141,NaN
JH,137.0,250,464579.0,299587,428313,3.0
JK,611.0,572,254608.0,33383,414843,3.0
KA,2347.0,2339,724215.0,623591,1373861,75.0
KL,53326.0,48406,506604.0,109805,792534,3089.0
LA,58.0,28,2475.0,525,1532,NaN
MH,8117.0,15146,773516.0,1611778,1282938,200.0
ML,256.0,460,13944.0,7871,41927,4.0
MN,439.0,652,12787.0,7665,71276,10.0
MP,105.0,74,393209.0,148817,2034460,1.0
MZ,4098.0,5685,42841.0,4302,11262,21.0
NL,130.0,144,4606.0,4706,23628,6.0
OR,3046.0,3230,473919.0,731837,917236,24.0
PB,192.0,162,221114.0,200182,223256,8.0
PY,278.0,315,21095.0,8324,20073,NaN
RJ,27.0,26,95132.0,271500,864947,NaN
SK,79.0,76,2847.0,782,14044,2.0
TG,1189.0,1121,261086.0,1072389,961422,9.0
TN,7407.0,8852,858304.0,788134,1578082,97.0
TR,87.0,62,22126.0,4155,74642,NaN
UP,63.0,58,1140736.0,2266921,3130828,1.0
UT,75.0,74,83377.0,25250,258381,1.0
WB,6453.0,5953,300114.0,3809597,1871612,86.0

In [ ]:
delta7_T.isnull().sum()

confirmed       1
recovered       0
tested          1
vaccinated1     0
vaccinated2     0
deceased       11
dtype: int64

# delta7 table after data cleaning as delta7_T

In [ ]:
delta7_T.fillna(0,inplace=True)
delta7_T

,confirmed,recovered,tested,vaccinated1,vaccinated2,deceased
State_code,,,,,,
AN,3.0,5,8936.0,884,10640,0.0
AP,2873.0,3590,254532.0,1223010,1887005,30.0
AR,66.0,97,4788.0,3312,23647,0.0
AS,2056.0,2215,269097.0,274869,849889,24.0
BR,40.0,31,1378539.0,1286708,2144970,0.0
CH,28.0,20,10726.0,3680,21641,0.0
CT,205.0,103,147451.0,379374,604260,5.0
DL,267.0,239,395086.0,160323,269146,0.0
DN,0.0,2,0.0,2802,14244,0.0
GA,222.0,409,19026.0,8418,46494,6.0
GJ,159.0,116,328489.0,335172,1660382,2.0
HP,1537.0,1154,64352.0,13244,234011,20.0
HR,95.0,87,148110.0,160777,368141,0.0
JH,137.0,250,464579.0,299587,428313,3.0
JK,611.0,572,254608.0,33383,414843,3.0
KA,2347.0,2339,724215.0,623591,1373861,75.0
KL,53326.0,48406,506604.0,109805,792534,3089.0
LA,58.0,28,2475.0,525,1532,0.0
MH,8117.0,15146,773516.0,1611778,1282938,200.0
ML,256.0,460,13944.0,7871,41927,4.0
MN,439.0,652,12787.0,7665,71276,10.0
MP,105.0,74,393209.0,148817,2034460,1.0
MZ,4098.0,5685,42841.0,4302,11262,21.0
NL,130.0,144,4606.0,4706,23628,6.0
OR,3046.0,3230,473919.0,731837,917236,24.0
PB,192.0,162,221114.0,200182,223256,8.0
PY,278.0,315,21095.0,8324,20073,0.0
RJ,27.0,26,95132.0,271500,864947,0.0
SK,79.0,76,2847.0,782,14044,2.0
TG,1189.0,1121,261086.0,1072389,961422,9.0
TN,7407.0,8852,858304.0,788134,1578082,97.0
TR,87.0,62,22126.0,4155,74642,0.0
UP,63.0,58,1140736.0,2266921,3130828,1.0
UT,75.0,74,83377.0,25250,258381,1.0
WB,6453.0,5953,300114.0,3809597,1871612,86.0

In [ ]:
delta7_T.to_csv(r"C:\Users\Sudheer\Desktop\pr2\delta7.csv")

# meta

In [ ]:
pd.DataFrame(data=[x for x in df["meta"]],index=df["meta"].keys())

,date,last_updated,population,tested,vaccinated,notes
State_code,,,,,,
AN,2021-10-31,2021-11-01T11:03:10+05:30,397000,"{'date': '2021-10-31', 'source': 'https://dhs....",{'date': '2021-10-31'},NaN
AP,2021-10-31,2021-11-01T09:54:14+05:30,52221000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
AR,2021-10-31,2021-11-01T11:20:24+05:30,1504000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[July 25]: All numbers corresponding to Papum ...
AS,2021-10-31,2021-11-01T09:54:14+05:30,34293000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[Jan 1]: 1347 cases i.e Covid +'tive patients ...
BR,2021-10-31,2021-11-01T09:54:14+05:30,119520000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[June 9] : 3951 deceased cases have been repor...
CH,2021-10-31,2021-11-01T09:54:14+05:30,1179000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
CT,2021-10-31,2021-11-01T09:54:14+05:30,28724000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
DL,2021-10-31,2021-11-01T09:54:14+05:30,19814000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},[July 14]: Value for the total tests conducted...
DN,2021-10-31,2021-11-01T09:54:14+05:30,959000,"{'date': '2020-10-20', 'source': 'https://dddc...",{'date': '2021-10-31'},NaN
GA,2021-10-31,2021-11-01T09:54:14+05:30,1540000,"{'date': '2021-10-31', 'source': 'https://www....",{'date': '2021-10-31'},NaN
GJ,2021-10-31,2021-11-01T09:54:14+05:30,67936000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
HP,2021-10-31,2021-11-01T09:54:14+05:30,7300000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
HR,2021-10-31,2021-11-01T09:54:14+05:30,28672000,"{'date': '2021-10-31', 'source': 'http://www.n...",{'date': '2021-10-31'},NaN
JH,2021-10-31,2021-11-01T09:54:14+05:30,37403000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
JK,2021-10-31,2021-11-01T09:54:14+05:30,13203000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
KA,2021-10-31,2021-11-01T09:54:14+05:30,65798000,"{'date': '2021-10-31', 'source': 'https://t.co...",{'date': '2021-10-31'},NaN
KL,2021-10-31,2021-11-01T09:54:14+05:30,35125000,"{'date': '2021-10-31', 'source': 'https://dhs....",{'date': '2021-10-31'},NaN
LA,2021-10-31,2021-11-01T09:54:14+05:30,293000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
MH,2021-10-31,2021-11-01T09:54:14+05:30,122153000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},"[Dec 16]:10,218 duplicate cases & other state ..."
ML,2021-10-31,2021-11-01T09:54:14+05:30,3224000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
MN,2021-10-31,2021-11-01T09:54:14+05:30,3103000,"{'date': '2021-10-31', 'source': 'https://nrhm...",{'date': '2021-10-31'},[Dec 14]:824 out of 980 recovered cases are ba...
MP,2021-10-31,2021-11-01T09:54:14+05:30,82232000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[14 Oct'20]: 4469 confirmed cases and 4469 rec...
MZ,2021-10-31,2021-11-01T09:54:14+05:30,1192000,"{'date': '2021-10-31', 'source': 'https://dipr...",{'date': '2021-10-31'},NaN
NL,2021-10-31,2021-11-01T09:54:14+05:30,2150000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},NaN
OR,2021-10-31,2021-11-01T09:54:14+05:30,43671000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},[July 12th] :20 non-covid deaths reported in s...
PB,2021-10-31,2021-11-01T09:54:14+05:30,29859000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
PY,2021-10-31,2021-11-01T09:54:14+05:30,1504000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
RJ,2021-10-31,2021-11-01T09:54:14+05:30,77264000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
SK,2021-10-31,2021-10-31T20:49:45+05:30,664000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},NaN
TG,2021-10-31,2021-11-01T09:54:14+05:30,37220000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[July 27] : Telangana bulletin for the previou...
TN,2021-10-31,2021-11-01T09:54:14+05:30,75695000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},[June 29 2021]: TN has introduced a new distri...
TR,2021-10-31,2021-11-01T09:54:14+05:30,3992000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},[Aug 4]: Tripura bulletin for the previous day...
UP,2021-10-31,2021-11-01T09:54:14+05:30,224979000,"{'date': '2021-10-31', 'source': 'https://twit...",{'date': '2021-10-31'},[Jan 1]:As no bulletin was provided for 31'st ...
UT,2021-10-31,2021-11-01T09:54:14+05:30,11141000,"{'date': '2021-10-31', 'source': 'https://t.me...",{'date': '2021-10-31'},[Oct 30]: Metric of capturing the testing data...
WB,2021-10-31,2021-11-01T09:54:14+05:30,96906000,"{'date': '2021-10-31', 'source': 'https://www....",{'date': '2021-10-31'},NaN

In [ ]:
pd.DataFrame(data=[x for x in df["meta"]],index=df["meta"].keys()).isnull().sum()

date             0
last_updated     0
population       0
tested           0
vaccinated       0
notes           22
dtype: int64

# meta table after data cleaning

In [ ]:
pd.DataFrame(data=[x for x in df["meta"]],index=df["meta"].keys()).drop(['last_updated','tested','vaccinated','notes'],axis=1)

                  date  population
State_code
AN          2021-10-31      397000
AP          2021-10-31    52221000
AR          2021-10-31     1504000
AS          2021-10-31    34293000
BR          2021-10-31   119520000
CH          2021-10-31     1179000
CT          2021-10-31    28724000
DL          2021-10-31    19814000
DN          2021-10-31      959000
GA          2021-10-31     1540000
GJ          2021-10-31    67936000
HP          2021-10-31     7300000
HR          2021-10-31    28672000
JH          2021-10-31    37403000
JK          2021-10-31    13203000
KA          2021-10-31    65798000
KL          2021-10-31    35125000
LA          2021-10-31      293000
MH          2021-10-31   122153000
ML          2021-10-31     3224000
MN          2021-10-31     3103000
MP          2021-10-31    82232000
MZ          2021-10-31     1192000
NL          2021-10-31     2150000
OR          2021-10-31    43671000
PB          2021-10-31    29859000
PY          2021-10-31     1504000
RJ          2021-10-31    77264000
SK          2021-10-31      664000
TG          2021-10-31    37220000
TN          2021-10-31    75695000
TR          2021-10-31     3992000
UP          2021-10-31   224979000
UT          2021-10-31    11141000
WB          2021-10-31    96906000

In [ ]:
pd.DataFrame(data=[x for x in df["meta"]],index=df["meta"].keys()).drop(['last_updated','tested','vaccinated','notes'],axis=1).to_csv(r"C:\Users\Sudheer\Desktop\pr2\meta.csv")

# total

In [ ]:
pd.DataFrame(data=[x for x in df["total"]],index=df["total"].keys())

,confirmed,deceased,recovered,tested,vaccinated1,vaccinated2,other
State_code,,,,,,,
AN,7651,129,7518,598033,294001,200157,NaN
AP,2066450,14373,2047722,29518787,32976969,20375181,NaN
AR,55155,280,54774,1185436,771875,534486,NaN
AS,610645,5997,600974,24712042,20172463,8068795,1347.0
BR,726098,9661,716390,50531824,49874828,18346781,1.0
CH,65351,820,64495,792851,926035,546981,NaN
CT,1006052,13577,992159,13709510,14851682,7343273,NaN
DL,1439870,25091,1414431,29427753,13055636,7425404,NaN
DN,10681,4,10644,72410,660753,370255,31.0
GA,178108,3364,174392,1468399,1262568,911114,NaN
GJ,826577,10089,816283,30928063,44735217,25972387,NaN
HP,224106,3738,218410,3685011,5713695,3443823,16.0
HR,771252,10049,761068,13032504,17772376,8115463,NaN
JH,348764,5138,343518,15985878,14986646,5585648,NaN
JK,332249,4432,326915,16202346,9511073,5149471,NaN
KA,2988333,38082,2941578,50873103,42497761,22858384,29.0
KL,4968657,31681,4857181,37886378,25306499,13658343,529.0
LA,20962,208,20687,555568,208798,152280,NaN
MH,6611078,140216,6450585,62667211,67198794,30975692,3619.0
ML,83627,1450,81746,1151665,1103275,641819,NaN
MN,123731,1921,121102,1367673,1249436,719413,NaN
MP,792854,10524,782215,20294225,49911938,20838045,NaN
MZ,121359,432,114612,1298444,711597,512029,NaN
NL,31842,685,29904,395416,709553,490663,1043.0
OR,1041457,8386,1029147,21994343,25736641,11560912,NaN
PB,602401,16559,585591,15429415,15942714,6238973,NaN
PY,128013,1857,125726,1919060,733922,404355,NaN
RJ,954429,8954,945443,14807752,42544909,20097635,NaN
SK,31979,396,31063,261343,521763,451509,325.0
TG,671463,3956,663498,27569831,22498559,9772398,NaN
TN,2702623,36116,2655015,51159242,41279432,17619141,NaN
TR,84468,813,83466,1983127,2508477,1621329,63.0
UP,1710158,22900,1687151,83635222,98178865,32681895,NaN
UT,343896,7400,330195,7781148,7478017,3898342,6150.0
WB,1592908,19141,1565471,19228303,56192166,21559747,NaN

In [ ]:
pd.DataFrame(data=[x for x in df["total"]],index=df["total"].keys()).isnull().sum()

confirmed       0
deceased        0
recovered       0
tested          0
vaccinated1     0
vaccinated2     0
other          24
dtype: int64

# Total Table after data cleaning

In [ ]:
pd.DataFrame(data=[x for x in df["total"]],index=df["total"].keys()).drop('other',axis=1)

            confirmed  deceased  recovered    tested  vaccinated1  vaccinated2
State_code
AN               7651       129       7518    598033       294001       200157
AP            2066450     14373    2047722  29518787     32976969     20375181
AR              55155       280      54774   1185436       771875       534486
AS             610645      5997     600974  24712042     20172463      8068795
BR             726098      9661     716390  50531824     49874828     18346781
CH              65351       820      64495    792851       926035       546981
CT            1006052     13577     992159  13709510     14851682      7343273
DL            1439870     25091    1414431  29427753     13055636      7425404
DN              10681         4      10644     72410       660753       370255
GA             178108      3364     174392   1468399      1262568       911114
GJ             826577     10089     816283  30928063     44735217     25972387
HP             224106      3738     218410   3685011      5713695      3443823
HR             771252     10049     761068  13032504     17772376      8115463
JH             348764      5138     343518  15985878     14986646      5585648
JK             332249      4432     326915  16202346      9511073      5149471
KA            2988333     38082    2941578  50873103     42497761     22858384
KL            4968657     31681    4857181  37886378     25306499     13658343
LA              20962       208      20687    555568       208798       152280
MH            6611078    140216    6450585  62667211     67198794     30975692
ML              83627      1450      81746   1151665      1103275       641819
MN             123731      1921     121102   1367673      1249436       719413
MP             792854     10524     782215  20294225     49911938     20838045
MZ             121359       432     114612   1298444       711597       512029
NL              31842       685      29904    395416       709553       490663
OR            1041457      8386    1029147  21994343     25736641     11560912
PB             602401     16559     585591  15429415     15942714      6238973
PY             128013      1857     125726   1919060       733922       404355
RJ             954429      8954     945443  14807752     42544909     20097635
SK              31979       396      31063    261343       521763       451509
TG             671463      3956     663498  27569831     22498559      9772398
TN            2702623     36116    2655015  51159242     41279432     17619141
TR              84468       813      83466   1983127      2508477      1621329
UP            1710158     22900    1687151  83635222     98178865     32681895
UT             343896      7400     330195   7781148      7478017      3898342
WB            1592908     19141    1565471  19228303     56192166     21559747

In [ ]:
pd.DataFrame(data=[x for x in df["total"]],index=df["total"].keys()).drop('other',axis=1).to_csv(r"C:\Users\Sudheer\Desktop\pr2\total.csv")

# Districts

In [ ]:
l1 =[]
l2 =[]
for i in df['districts']:
    for j in i:
        l1.append(j)
        l2.append(i[j])
df2 = pd.DataFrame([l1,l2])
df2 = df2.T
df2.rename( columns={0 :'districts'}, inplace=True )
df_districts=df2.set_index('districts')
df_districts

                                                                          1
districts
Nicobars                  {'delta7': {'vaccinated1': 62, 'vaccinated2': ...
North and Middle Andaman  {'delta': {'vaccinated2': 8}, 'delta7': {'vacc...
South Andaman             {'delta': {'vaccinated1': 3, 'vaccinated2': 28...
Unknown                   {'delta21_14': {'confirmed': 9}, 'delta7': {'c...
Anantapur                 {'delta': {'confirmed': 4, 'recovered': 5, 'va...
...                                                                     ...
Purba Bardhaman           {'delta': {'confirmed': 16, 'recovered': 25, '...
Purba Medinipur           {'delta': {'confirmed': 16, 'recovered': 17, '...
Purulia                   {'delta': {'confirmed': 2, 'recovered': 3, 'va...
South 24 Parganas         {'delta': {'confirmed': 75, 'deceased': 1, 're...
Uttar Dinajpur            {'delta': {'confirmed': 8, 'recovered': 7}, 'd...

[747 rows x 1 columns]

In [ ]:
districts = pd.DataFrame([x for x in df_districts[1]],index=df_districts[1].keys())
districts

,delta7,meta,total,delta,delta21_14
districts,,,,,
Nicobars,"{'vaccinated1': 62, 'vaccinated2': 811}",{'population': 36842},"{'vaccinated1': 25394, 'vaccinated2': 20313}",NaN,NaN
North and Middle Andaman,"{'vaccinated1': 90, 'vaccinated2': 1839}",{'population': 105597},"{'vaccinated1': 78945, 'vaccinated2': 59522}",{'vaccinated2': 8},NaN
South Andaman,"{'vaccinated1': 732, 'vaccinated2': 8012}",{'population': 238142},"{'vaccinated1': 189662, 'vaccinated2': 120322}","{'vaccinated1': 3, 'vaccinated2': 28}",NaN
Unknown,"{'confirmed': 3, 'recovered': 5}",NaN,"{'confirmed': 7651, 'deceased': 129, 'recovere...",NaN,{'confirmed': 9}
Anantapur,"{'confirmed': 38, 'recovered': 58, 'vaccinated...","{'population': 4083315, 'tested': {'date': '20...","{'confirmed': 157843, 'deceased': 1093, 'recov...","{'confirmed': 4, 'recovered': 5, 'vaccinated1'...",{'confirmed': 50}
...,...,...,...,...,...
Purba Bardhaman,"{'confirmed': 147, 'deceased': 2, 'recovered':...",{'population': 4835532},"{'confirmed': 42005, 'deceased': 198, 'recover...","{'confirmed': 16, 'recovered': 25, 'vaccinated...",{'confirmed': 132}
Purba Medinipur,"{'confirmed': 94, 'deceased': 1, 'recovered': ...",{'population': 4417377},"{'confirmed': 63098, 'deceased': 397, 'recover...","{'confirmed': 16, 'recovered': 17, 'vaccinated...",{'confirmed': 65}
Purulia,"{'confirmed': 17, 'recovered': 21, 'vaccinated...",{'population': 2927965},"{'confirmed': 19419, 'deceased': 113, 'recover...","{'confirmed': 2, 'recovered': 3, 'vaccinated1'...",{'confirmed': 9}
South 24 Parganas,"{'confirmed': 542, 'deceased': 5, 'recovered':...",{'population': 8153176},"{'confirmed': 100957, 'deceased': 1336, 'recov...","{'confirmed': 75, 'deceased': 1, 'recovered': ...",{'confirmed': 267}
Uttar Dinajpur,"{'confirmed': 43, 'deceased': 2, 'recovered': ...",{'population': 3000849},"{'confirmed': 19858, 'deceased': 238, 'recover...","{'confirmed': 8, 'recovered': 7}",{'confirmed': 25}

In [ ]:
districts.isnull().sum()

delta7         14
meta           31
total           1
delta          51
delta21_14    321
dtype: int64

In [ ]:
districts.dropna(how='all',inplace=True)

In [ ]:
districts.isnull().sum()

delta7         14
meta           31
total           1
delta          51
delta21_14    321
dtype: int64

In [ ]:
pd.DataFrame(districts['delta7'])

                                                                     delta7
districts
Nicobars                            {'vaccinated1': 62, 'vaccinated2': 811}
North and Middle Andaman           {'vaccinated1': 90, 'vaccinated2': 1839}
South Andaman                     {'vaccinated1': 732, 'vaccinated2': 8012}
Unknown                                    {'confirmed': 3, 'recovered': 5}
Anantapur                 {'confirmed': 38, 'recovered': 58, 'vaccinated...
...                                                                     ...
Purba Bardhaman           {'confirmed': 147, 'deceased': 2, 'recovered':...
Purba Medinipur           {'confirmed': 94, 'deceased': 1, 'recovered': ...
Purulia                   {'confirmed': 17, 'recovered': 21, 'vaccinated...
South 24 Parganas         {'confirmed': 542, 'deceased': 5, 'recovered':...
Uttar Dinajpur            {'confirmed': 43, 'deceased': 2, 'recovered': ...

[747 rows x 1 columns]

In [ ]:
n1=districts.dropna(subset=['delta7'])
districts_delta7 = pd.DataFrame([x for x in n1['delta7']],index=[n1['delta7'].keys()])
districts_delta7

,vaccinated1,vaccinated2,confirmed,recovered,deceased,tested,other
districts,,,,,,,
Nicobars,62.0,811.0,NaN,NaN,NaN,NaN,NaN
North and Middle Andaman,90.0,1839.0,NaN,NaN,NaN,NaN,NaN
South Andaman,732.0,8012.0,NaN,NaN,NaN,NaN,NaN
Unknown,NaN,NaN,3.0,5.0,NaN,NaN,NaN
Anantapur,92803.0,140903.0,38.0,58.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
Purba Bardhaman,260764.0,51741.0,147.0,176.0,2.0,NaN,NaN
Purba Medinipur,71724.0,144185.0,94.0,120.0,1.0,NaN,NaN
Purulia,159111.0,40922.0,17.0,21.0,NaN,NaN,NaN
South 24 Parganas,310444.0,169231.0,542.0,470.0,5.0,NaN,NaN
Uttar Dinajpur,130243.0,44686.0,43.0,46.0,2.0,NaN,NaN

In [ ]:
districts_delta7.isnull().sum()

vaccinated1     15
vaccinated2     15
confirmed      314
recovered      327
deceased       586
tested         731
other          722
dtype: int64

In [ ]:
districts_delta7.dropna(how='all')
districts_delta7

,vaccinated1,vaccinated2,confirmed,recovered,deceased,tested,other
districts,,,,,,,
Nicobars,62.0,811.0,NaN,NaN,NaN,NaN,NaN
North and Middle Andaman,90.0,1839.0,NaN,NaN,NaN,NaN,NaN
South Andaman,732.0,8012.0,NaN,NaN,NaN,NaN,NaN
Unknown,NaN,NaN,3.0,5.0,NaN,NaN,NaN
Anantapur,92803.0,140903.0,38.0,58.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
Purba Bardhaman,260764.0,51741.0,147.0,176.0,2.0,NaN,NaN
Purba Medinipur,71724.0,144185.0,94.0,120.0,1.0,NaN,NaN
Purulia,159111.0,40922.0,17.0,21.0,NaN,NaN,NaN
South 24 Parganas,310444.0,169231.0,542.0,470.0,5.0,NaN,NaN
Uttar Dinajpur,130243.0,44686.0,43.0,46.0,2.0,NaN,NaN

In [ ]:
districts_delta7.isnull().sum()

vaccinated1     15
vaccinated2     15
confirmed      314
recovered      327
deceased       586
tested         731
other          722
dtype: int64

# districts_delta7

In [ ]:
districts_delta7.fillna(value=0,inplace=True)
districts_delta7

,vaccinated1,vaccinated2,confirmed,recovered,deceased,tested,other
districts,,,,,,,
Nicobars,62.0,811.0,0.0,0.0,0.0,0.0,0.0
North and Middle Andaman,90.0,1839.0,0.0,0.0,0.0,0.0,0.0
South Andaman,732.0,8012.0,0.0,0.0,0.0,0.0,0.0
Unknown,0.0,0.0,3.0,5.0,0.0,0.0,0.0
Anantapur,92803.0,140903.0,38.0,58.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
Purba Bardhaman,260764.0,51741.0,147.0,176.0,2.0,0.0,0.0
Purba Medinipur,71724.0,144185.0,94.0,120.0,1.0,0.0,0.0
Purulia,159111.0,40922.0,17.0,21.0,0.0,0.0,0.0
South 24 Parganas,310444.0,169231.0,542.0,470.0,5.0,0.0,0.0
Uttar Dinajpur,130243.0,44686.0,43.0,46.0,2.0,0.0,0.0

In [ ]:
districts_delta7=districts_delta7.astype(int)
districts_delta7

,vaccinated1,vaccinated2,confirmed,recovered,deceased,tested,other
districts,,,,,,,
Nicobars,62,811,0,0,0,0,0
North and Middle Andaman,90,1839,0,0,0,0,0
South Andaman,732,8012,0,0,0,0,0
Unknown,0,0,3,5,0,0,0
Anantapur,92803,140903,38,58,0,0,0
...,...,...,...,...,...,...,...
Purba Bardhaman,260764,51741,147,176,2,0,0
Purba Medinipur,71724,144185,94,120,1,0,0
Purulia,159111,40922,17,21,0,0,0
South 24 Parganas,310444,169231,542,470,5,0,0
Uttar Dinajpur,130243,44686,43,46,2,0,0

In [ ]:
districts_delta7.to_csv(r"C:\Users\Sudheer\Desktop\pr2\New folder\d_delta7.csv")

In [ ]:
n2=districts.dropna(subset=['delta21_14'])
districts_delta21_14 = pd.DataFrame([x for x in n2['delta21_14']],index=[n2['delta21_14'].keys()])
districts_delta21_14

                   confirmed
districts
Unknown                    9
Anantapur                 50
Chittoor                 631
East Godavari            401
Guntur                   509
...                      ...
Purba Bardhaman          132
Purba Medinipur           65
Purulia                    9
South 24 Parganas        267
Uttar Dinajpur            25

[426 rows x 1 columns]

# districts_delta21_14

In [ ]:
districts_delta21_14.fillna(value=0,inplace=True)
districts_delta21_14

                   confirmed
districts
Unknown                    9
Anantapur                 50
Chittoor                 631
East Godavari            401
Guntur                   509
...                      ...
Purba Bardhaman          132
Purba Medinipur           65
Purulia                    9
South 24 Parganas        267
Uttar Dinajpur            25

[426 rows x 1 columns]

In [ ]:
districts_delta21_14=districts_delta21_14.astype(int)
districts_delta21_14

                   confirmed
districts
Unknown                    9
Anantapur                 50
Chittoor                 631
East Godavari            401
Guntur                   509
...                      ...
Purba Bardhaman          132
Purba Medinipur           65
Purulia                    9
South 24 Parganas        267
Uttar Dinajpur            25

[426 rows x 1 columns]

In [ ]:
districts_delta21_14.to_csv(r"C:\Users\Sudheer\Desktop\pr2\New folder\d_delta21_14.csv")

# districts_meta

In [ ]:
n3=districts.dropna(subset=['meta'])
districts_meta = pd.DataFrame([x for x in n3['meta']],index=[n3['meta'].keys()])
districts_meta.drop(columns=["tested","vaccinated","notes"],axis=1,inplace=True)
districts_meta.fillna(value=0,inplace=True)
districts_meta

                          population
districts
Nicobars                     36842.0
North and Middle Andaman    105597.0
South Andaman               238142.0
Anantapur                  4083315.0
Chittoor                   4170468.0
...                              ...
Purba Bardhaman            4835532.0
Purba Medinipur            4417377.0
Purulia                    2927965.0
South 24 Parganas          8153176.0
Uttar Dinajpur             3000849.0

[716 rows x 1 columns]

In [ ]:
districts_meta=districts_meta.astype(int)
districts_meta

                          population
districts
Nicobars                       36842
North and Middle Andaman      105597
South Andaman                 238142
Anantapur                    4083315
Chittoor                     4170468
...                              ...
Purba Bardhaman              4835532
Purba Medinipur              4417377
Purulia                      2927965
South 24 Parganas            8153176
Uttar Dinajpur               3000849

[716 rows x 1 columns]

In [ ]:
districts_meta.to_csv(r"C:\Users\Sudheer\Desktop\pr2\New folder\d_meta.csv")

# districts_total

In [ ]:
n4=districts.dropna(subset=['total'])
districts_total = pd.DataFrame([x for x in n4['total']],index=n4['total'].keys())
districts_total.drop(columns="other",inplace=True)
districts_total.fillna(value=0,inplace=True)
districts_total

,vaccinated1,vaccinated2,confirmed,deceased,recovered,tested
districts,,,,,,
Nicobars,25394.0,20313.0,0.0,0.0,0.0,0.0
North and Middle Andaman,78945.0,59522.0,0.0,0.0,0.0,0.0
South Andaman,189662.0,120322.0,0.0,0.0,0.0,0.0
Unknown,0.0,0.0,7651.0,129.0,7518.0,0.0
Anantapur,2690082.0,1611476.0,157843.0,1093.0,156699.0,787085.0
...,...,...,...,...,...,...
Purba Bardhaman,2596246.0,859528.0,42005.0,198.0,41588.0,0.0
Purba Medinipur,3560589.0,1471674.0,63098.0,397.0,62549.0,0.0
Purulia,1679941.0,492310.0,19419.0,113.0,19283.0,0.0
South 24 Parganas,4850898.0,1832073.0,100957.0,1336.0,98950.0,0.0
Uttar Dinajpur,1341457.0,436182.0,19858.0,238.0,19559.0,0.0

In [ ]:
districts_total=districts_total.astype(int)
districts_total

,vaccinated1,vaccinated2,confirmed,deceased,recovered,tested
districts,,,,,,
Nicobars,25394,20313,0,0,0,0
North and Middle Andaman,78945,59522,0,0,0,0
South Andaman,189662,120322,0,0,0,0
Unknown,0,0,7651,129,7518,0
Anantapur,2690082,1611476,157843,1093,156699,787085
...,...,...,...,...,...,...
Purba Bardhaman,2596246,859528,42005,198,41588,0
Purba Medinipur,3560589,1471674,63098,397,62549,0
Purulia,1679941,492310,19419,113,19283,0
South 24 Parganas,4850898,1832073,100957,1336,98950,0
Uttar Dinajpur,1341457,436182,19858,238,19559,0

In [ ]:
districts_total.to_csv(r"C:\Users\Sudheer\Desktop\pr2\New folder\d_total.csv")

# districts_delta

In [ ]:
n5=districts.dropna(subset=['delta'])
districts_delta = pd.DataFrame([x for x in n5['delta']],index=n5['delta'].keys())
districts_delta.drop(columns="other",inplace=True)
districts_delta.fillna(value=0,inplace=True)
districts_delta

,vaccinated2,vaccinated1,confirmed,recovered,deceased,tested
districts,,,,,,
North and Middle Andaman,8.0,0.0,0.0,0.0,0.0,0.0
South Andaman,28.0,3.0,0.0,0.0,0.0,0.0
Anantapur,5370.0,4575.0,4.0,5.0,0.0,0.0
Chittoor,1306.0,878.0,64.0,87.0,1.0,0.0
East Godavari,237.0,41.0,87.0,121.0,0.0,0.0
...,...,...,...,...,...,...
Purba Bardhaman,4002.0,17168.0,16.0,25.0,0.0,0.0
Purba Medinipur,2226.0,5370.0,16.0,17.0,0.0,0.0
Purulia,1866.0,13266.0,2.0,3.0,0.0,0.0
South 24 Parganas,3270.0,7086.0,75.0,74.0,1.0,0.0
Uttar Dinajpur,0.0,0.0,8.0,7.0,0.0,0.0

In [ ]:
districts_delta=districts_delta.astype(int)
districts_delta

,vaccinated2,vaccinated1,confirmed,recovered,deceased,tested
districts,,,,,,
North and Middle Andaman,8,0,0,0,0,0
South Andaman,28,3,0,0,0,0
Anantapur,5370,4575,4,5,0,0
Chittoor,1306,878,64,87,1,0
East Godavari,237,41,87,121,0,0
...,...,...,...,...,...,...
Purba Bardhaman,4002,17168,16,25,0,0
Purba Medinipur,2226,5370,16,17,0,0
Purulia,1866,13266,2,3,0,0
South 24 Parganas,3270,7086,75,74,1,0
Uttar Dinajpur,0,0,8,7,0,0

In [ ]:
districts_delta.to_csv(r"C:\Users\Sudheer\Desktop\pr2\New folder\d_delta.csv")

# TIME SERIES

In [ ]:
import requests
import pandas as pd
x = requests.get('https://data.covid19india.org/v4/min/timeseries.min.json')
T=pd.DataFrame(x.json()).transpose()
T

                                                dates
AN  {'2020-03-26': {'delta': {'confirmed': 1}, 'de...
AP  {'2020-03-12': {'delta': {'confirmed': 1}, 'de...
AR  {'2020-04-02': {'delta': {'confirmed': 1}, 'de...
AS  {'2020-03-31': {'delta': {'confirmed': 1}, 'de...
BR  {'2020-03-22': {'delta': {'confirmed': 2}, 'de...
CH  {'2020-03-19': {'delta': {'confirmed': 1}, 'de...
CT  {'2020-03-19': {'delta': {'confirmed': 1}, 'de...
DL  {'2020-03-02': {'delta': {'confirmed': 1}, 'de...
DN  {'2020-04-09': {'delta': {'tested': 80}, 'delt...
GA  {'2020-03-25': {'delta': {'confirmed': 3}, 'de...
GJ  {'2020-03-19': {'delta': {'confirmed': 2}, 'de...
HP  {'2020-03-14': {'delta': {'other': 3}, 'delta7...
HR  {'2020-03-04': {'delta': {'confirmed': 14}, 'd...
JH  {'2020-03-31': {'delta': {'confirmed': 1}, 'de...
JK  {'2020-03-09': {'delta': {'confirmed': 1}, 'de...
KA  {'2020-03-09': {'delta': {'confirmed': 1}, 'de...
KL  {'2020-01-30': {'delta': {'confirmed': 1}, 'de...
LA  {'2020-03-07': {'delta': {'confirmed': 2}, 'de...
LD  {'2021-01-16': {'delta': {'vaccinated1': 21}, ...
MH  {'2020-03-09': {'delta': {'confirmed': 2}, 'de...
ML  {'2020-04-13': {'delta': {'confirmed': 1}, 'de...
MN  {'2020-03-24': {'delta': {'confirmed': 1}, 'de...
MP  {'2020-03-20': {'delta': {'confirmed': 4}, 'de...
MZ  {'2020-03-25': {'delta': {'confirmed': 1}, 'de...
NL  {'2020-04-06': {'delta': {'tested': 60}, 'delt...
OR  {'2020-03-16': {'delta': {'confirmed': 1}, 'de...
PB  {'2020-03-09': {'delta': {'confirmed': 1}, 'de...
PY  {'2020-03-17': {'delta': {'confirmed': 1}, 'de...
RJ  {'2020-03-03': {'delta': {'confirmed': 1}, 'de...
SK  {'2020-05-04': {'delta': {'tested': 170}, 'del...
TG  {'2020-03-02': {'delta': {'confirmed': 1}, 'de...
TN  {'2020-03-07': {'delta': {'confirmed': 1}, 'de...
TR  {'2020-04-06': {'delta': {'confirmed': 1}, 'de...
TT  {'2020-01-30': {'delta': {'confirmed': 1}, 'de...
UN  {'2020-05-19': {'delta': {'confirmed': 814}, '...
UP  {'2020-03-04': {'delta': {'confirmed': 7}, 'de...
UT  {'2020-03-15': {'delta': {'confirmed': 1}, 'de...
WB  {'2020-03-17': {'delta': {'confirmed': 1}, 'de...

In [ ]:
T.isnull().sum()

dates    0
dtype: int64

In [ ]:
T.keys()

Index(['dates'], dtype='object')

In [ ]:
T.Values()

AttributeError: 'DataFrame' object has no attribute 'Values'

In [ ]:
pd.DataFrame(data=[x,x[y] for x,y in T['dates']],index=T['dates'].keys())

SyntaxError: invalid syntax (<ipython-input-100-bf09a5197c3e>, line 1)

In [ ]:
T1 = pd.DataFrame([x for x in T['dates']],index=T['dates'].keys())
T1

,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01,2020-04-02,2020-04-03,2020-04-04,...,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,2020-01-30,2020-02-02,2020-02-03,2020-02-14
AN,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 5}, 'delta7': {'confir...","{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta7': {'confirmed': 9}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 10}, 'total': {'confi...","{'delta7': {'confirmed': 10}, 'total': {'confi...","{'delta7': {'confirmed': 9}, 'total': {'confir...","{'delta7': {'confirmed': 4}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AP,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 6}, 'delta7': {'confir...","{'delta': {'confirmed': 2, 'recovered': 1}, 'd...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 21}, 'delta7': {'confi...","{'delta': {'confirmed': 67, 'recovered': 1}, '...","{'delta': {'confirmed': 38, 'tested': 1800}, '...","{'delta': {'confirmed': 15, 'deceased': 1}, 'd...","{'delta': {'confirmed': 28}, 'delta7': {'confi...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AS,NaN,NaN,NaN,NaN,NaN,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 15}, 'delta7': {'confi...","{'delta': {'tested': 962}, 'delta7': {'confirm...","{'delta': {'confirmed': 7}, 'delta7': {'confir...","{'delta': {'confirmed': 3}, 'delta7': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BR,"{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 4, 'deceased': 1}, 'de...","{'delta7': {'confirmed': 12, 'deceased': 1}, '...","{'delta': {'confirmed': 6}, 'delta7': {'confir...","{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta': {'confirmed': 5, 'recovered': 3}, 'd...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CH,"{'delta7': {'confirmed': 6}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 3}, 'total': {'confir...","{'delta7': {'confirmed': 2}, 'total': {'confir...","{'delta': {'confirmed': 5}, 'delta7': {'confir...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 1, 'tested': 124}, 'de...","{'delta7': {'confirmed': 10, 'tested': 124}, '...","{'delta': {'recovered': 3}, 'delta7': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CT,"{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta7': {'confirmed': 5}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 6}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 1, 'recovered': 2}, 'd...","{'delta7': {'confirmed': 6, 'recovered': 2}, '...","{'delta': {'recovered': 1, 'tested': 1232}, 'd...","{'delta7': {'confirmed': 3, 'recovered': 3, 't...","{'delta': {'confirmed': 1}, 'delta7': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DL,"{'delta': {'confirmed': 4}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 9}, 'delta7': {'confir...","{'delta': {'confirmed': 23, 'deceased': 2, 're...","{'delta': {'confirmed': 25}, 'delta7': {'confi...","{'delta': {'confirmed': 23}, 'delta7': {'confi...","{'delta': {'confirmed': 32, 'tested': 2621}, '...","{'delta': {'confirmed': 141, 'deceased': 2, 'r...","{'delta': {'confirmed': 93, 'deceased': 2}, 'd...","{'delta': {'confirmed': 59, 'recovered': 8}, '...",...,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 3}, 'total': {'confir...","{'delta7': {'confirmed': 3}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 3}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...",NaN,NaN,NaN,NaN
DN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GA,"{'delta7': {'confirmed': 3}, 'total': {'confir...","{'delta7': {'confirmed': 3}, 'total': {'confir...","{'delta7': {'confirmed': 3}, 'total': {'confir...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta7': {'confirmed': 5}, 'total': {'confir...","{'delta7': {'confirmed': 5}, 'total': {'confir...","{'delta7': {'confirmed': 2}, 'total': {'confir...","{'delta': {'tested': 220}, 'delta7': {'confirm...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GJ,"{'delta': {'confirmed': 6}, 'delta7': {'confir...","{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta': {'confirmed': 8}, 'delta7': {'confir...","{'delta': {'confirmed': 8, 'deceased': 5, 'rec...","{'delta': {'confirmed': 7, 'deceased': 1, 'rec...","{'delta': {'confirmed': 4, 'recovered': 2}, 'd...","{'delta': {'confirmed': 13}, 'delta7': {'confi...","{'delta': {'confirmed': 1, 'deceased': 1, 'rec...","{'delta': {'confirmed': 7, 'deceased': 2}, 'de...","{'delta': {'confirmed': 13, 'deceased': 1, 're...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HP,"{'delta7': {'confirmed': 3}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta': {'deceased': 1, 'recovered': 1}, 'de...","{'delta7': {'deceased': 1, 'recovered': 1}, 't...","{'delta7': {'deceased': 1, 'recovered': 1}, 't...","{'delta7': {'deceased': 1, 'recovered': 1}, 't...","{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta': {'deceased': 1}, 'delta7': {'confirm...","{'delta': {'confirmed': 7}, 'delta7': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HR,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'recovered': 14}, 'delta7': {'confi...","{'delta': {'confirmed': 1, 'recovered': 6}, 'd...","{'delta': {'confirmed': 7, 'recovered': 4}, 'd...","{'delta': {'recovered': 3}, 'delta7': {'confir...","{'delta': {'confirmed': 6}, 'delta7': {'confir...","{'delta': {'confirmed': 9, 'recovered': 1, 'te...","{'delta': {'confirmed': 26, 'recovered': 1}, '...",...,"{'delta7': {'confirmed': 14}, 'total': {'confi...","{'delta7': {'confirmed': 14}, 'total': {'confi...","{'delta7': {'confirmed': 14}, 'total': {'confi...","{'delta7': {'confirmed': 14}, 'total': {'confi...","{'delta7': {'confirmed': 14}, 'total': {'confi...",{'total': {'confirmed': 14}},NaN,NaN,NaN,NaN
JH,NaN,NaN,NaN,NaN,NaN,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 2}, 'total': {'confir...","{'delta7': {'confirmed': 2}, 'total': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JK,"{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta': {'confirmed': 6}, 'delta7': {'confir...","{'delta': {'confirmed': 13}, 'delta7': {'confi...","{'delta': {'confirmed': 5, 'deceased': 1, 'rec...","{'delta': {'confirmed': 11}, 'delta7': {'confi...","{'delta': {'confirmed': 6, 'deceased': 1}, 'de...","{'delta': {'confirmed': 7, 'recovered': 1}, 'd...","{'delta': {'confirmed': 8, 'recovered': 1}, 'd...","{'delta': {'confirmed': 5}, 'delta7': {'confir...","{'delta': {'confirmed': 17}, 'delta7': {'confi...",...,NaN,NaN,NaN,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",NaN,NaN,NaN,NaN
KA,"{'delta': {'confirmed': 4, 'deceased': 1}, 'de...","{'delta': {'confirmed': 9, 'deceased': 1, 'rec...","{'delta': {'confirmed': 12}, 'delta7': {'confi...","{'delta': {'confirmed': 7}, 'delta7': {'confir...","{'delta': {'confirmed': 5, 'recovered': 1}, 'd...","{'delta': {'confirmed': 13, 'recovered': 2}, '...","{'delta': {'confirmed': 9, 'recovered': 1}, 'd...","{'delta': {'confirmed': 14, 'recovered': 2}, '...","{'delta': {'confirmed': 4, 'deceased': 1, 'tes...","{'delta': {'confirmed': 16}, 'delta7': {'confi...",...,NaN,NaN,NaN,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta7': {'confirmed': 4}, 'total': {'confir...",NaN,NaN,NaN,NaN
KL,"{'delta': {'confirmed': 19}, 'delta7': {'confi...","{'delta': {'confirmed': 39}, 'delta7': {'confi...","{'delta': {'confirmed': 6}, 'delta7': {'confir...","{'delta': {'confirmed': 20, 'deceased': 1, 're...","{'delta': {'confirmed': 32}, 'delta7': {'confi...","{'delta': {'confirmed': 7, 'deceased': 1, 'rec...","{'delta': {'confirmed': 24, 'recovered': 2, 't...","{'delta': {'confirmed': 21, 'recovered': 2, 't...","{'delta': {'confirmed': 9, 'recovered': 14, 't...","{'delta': {'confirmed': 11, 'recovered': 8, 't...",...,"{'total': {'confirmed': 3, 'recovered': 3}}","{'total': {'confirmed': 3, 'recovered': 3}}","{'delta': {'confirmed': 5}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 8}, 'delta7': {'confir...","{'delta7': {'confirmed': 14}, 'total': {'confi...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'recovered': 3}, 'delta7': {'recove..."
LA,"{'delta7': {'confirmed': 5}, 'total': {'confir...","{'delta7': {'confirmed': 3}, 'total': {'confir...",{'total': {'confirmed': 13}},"{'delta': {'recovered': 3}, 'delta7': {'recove...","{'delta7': {'recovered': 3}, 'total': {'confir...","{'delta7': {'recovered': 3}, 'total': {'confir...","{'delta7': {'recovered': 3}, 'total': {'confir...","{'delta7': {'recovered': 3}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 1, 'recovered': 3}, '...",...,NaN,"{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta7': {'confirmed': 2}, 'total': {'confir...","{'delta7': {'confirmed': 2}, 'total': {'confir...","{'delta7': {'confirmed': 2}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...",NaN,NaN,NaN,NaN
LD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MH,"{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta': {'confirmed': 28}, 'delta7': {'confi...","{'delta': {'confirmed': 28}, 'delta7': {'confi...","{'delta': {'confirmed': 22, 'deceased': 8, 're...","{'delta': {'confirmed': 17, 'deceased': 2, 're...","{'delta': {'confirmed': 82, 'deceased': 1}, 'd...","{'delta': {'confirmed': 33, 'deceased': 5}, 'd...","{'delta': {'confirmed': 88, 'deceased': 5, 're...","{'delta': {'confirmed': 64, 'deceased': 5, 're...","{'delta': {'confirmed': 148, 'deceased': 6, 'r...",...,NaN,NaN,NaN,"{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta': {'confirmed': 6}, 'delta7': {'confir...",NaN,NaN,NaN,NaN
ML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MN,"{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MP,"{'delta': {'confirmed': 5}, 'delta7': {'confir...","{'delta': {'confirmed': 9}, 'delta7': {'confir...","{'delta': {'confirmed': 10}, 'delta7': {'confi...","{'delta': {'deceased': 2}, 'delta7': {'confirm...","{'delta': {'confirmed': 8, 'deceased': 2}, 'de...","{'delta': {'confirmed': 19, 'deceased': 1}, 'd...","{'delta': {'confirmed': 32, 'deceased': 1}, 'd...","{'delta': {'confirmed': 9, 'deceased': 2}, 'de...","{'delta': {'confirmed': 47}, 'delta7': {'confi...","{'delta': {'confirmed': 25, 'deceased': 3}, 'd...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MZ,"{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OR,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 1, 'recovered': 1}, 'd...","{'delta7': {'confirmed': 2, 'recovered': 1}, '...","{'delta': {'confirmed': 15, 'recovered': 1, 't...","{'delta': {'confirmed': 1}, 'delta7': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PB,"{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 5}, 'delta7': {'confir...","{'delta7': {'confirmed': 25}, 'total': {'confi...","{'delta': {'deceased': 1, 'recovered': 1}, 'de...","{'delta': {'confirmed': 3, 'deceased': 2}, 'de...","{'delta': {'confirmed': 1, 'deceased': 1}, 'de...","{'delta': {'confirmed': 4}, 'delta7': {'confir...","{'delta': {'confirmed': 1, 'deceased': 1, 'tes...","{'delta': {'confirmed': 6}, 'delta7': {'confir...","{'delta': {'confirmed': 12, 'recovered': 2}, '...",...,NaN,NaN,NaN,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",NaN,NaN,NaN,NaN
PY,{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},"{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta7': {'confirmed': 4}, 'total': {'confir...","{'delta7': {'confirmed': 4}, 'total': {'confir...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RJ,"{'delta': {'confirmed': 5}, 'delta7': {'confir...","{'delta': {'confirmed': 7}, 'delta7': {'confir...","{'delta': {'confirmed': 4}, 'delta7': {'confir...","{'delta': {'confirmed': 5, 'recovered': 3}, 'd...","{'delta': {'confirmed': 20}, 'delta7': {'confi...","{'delta': {'confirmed': 14}, 'delta7': {'confi...","{'delta': {'confirmed': 27}, 'delta7': {'confi...","{'delta': {'confirmed': 13}, 'delta7': {'confi...","{'delta': {'confirmed': 46}, 'delta7': {'confi...","{'delta': {'confirmed': 27, 'deceased': 1, 're...",...,"{'delta7': {'confirmed': 2}, 'total': {'confir...","{'delta7': {'confirmed': 2}, 'total': {'confir...","{'delta7': {'confirmed': 2}, 'total': {'confir...","{'delta7': {'confirmed': 2}, 'total': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",NaN,NaN,NaN,NaN
SK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TG,"{'delta': {'confirmed': 4}, 'delta7': {'confir...","{'delta': {'confirmed': 14}, 'delta7': {'confi...","{'delta': {'confirmed': 8}, 'delta7': {'confir...","{'delta': {'confirmed': 3, 'deceased': 1, 'rec...","{'delta': {'confirmed': 7, 'deceased': 5, 'rec...","{'delta': {'confirmed': 20}, 'delta7': {'confi...","{'delta': {'confirmed': 30, 'deceased': 3}, 'd...","{'delta': {'confirmed': 27, 'recovered': 3}, '...","{'delta': {'confirmed': 75, 'deceased': 2, 're...","{'delta': {'confirmed': 43, 'recovered': 1}, '...",...,"{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},{'total': {'confirmed': 1}},NaN,NaN,NaN,NaN
TN,"{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta': {'confirmed': 9}, 'delta7': {'confir...","{'delta': {'confirmed': 4}, 'delta7': {'confir...","{'delta': {'confirmed': 8, 'deceased': 1, 'rec...","{'delta': {'confirmed': 17}, 'delta7': {'confi...","{'delta': {'confirmed': 57, 'recovered': 2}, '...","{'delta': {'confirmed': 110}, 'delta7': {'conf...","{'delta': {'confirmed': 75}, 'delta7': {'confi...","{'delta': {'confirmed': 102, 'tested': 3684}, ...","{'delta': {'confirmed': 74, 'deceased': 2, 're...",...,NaN,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...","{'delta7': {'confirmed': 1}, 'total': {'confir...",NaN,NaN,NaN,NaN
TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TT,"{'delta': {'confirmed': 73, 'deceased': 1, 'te...","{'delta': {'confirmed': 153, 'deceased': 1, 'r...","{'delta': {'confirmed': 136}, 'delta7': {'conf...","{'delta': {'confirmed': 120, 'deceased': 25, '...","{'delta': {'confirmed': 187, 'deceased': 13, '...","{'delta': {'confirmed': 309, 'deceased': 6, 'r...","{'delta': {'confirmed': 424, 'deceased': 11, '...","{'delta': {'confirmed': 486, 'deceased': 11, '...","{'delta': {'confirmed': 560, 'deceased': 14, '...","{'delta': {'confirmed': 579, 'deceased': 13, '...",...,"{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 3}, 'delta7': {'confir...","{'delta': {'confirmed': 5}, 'delta7': {'confir...","{'delta': {'confirmed': 9}, 'delta7': {'confir...","{'delta': {'confirmed': 15}, 'delta7': {'confi...","{'delta': {'confirmed': 8}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'confirmed': 1}, 'delta7': {'confir...","{'delta': {'recovered': 3}, 'delta7': {'recove..."
UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UP,"{'delta': {'confirmed': 4}, 'delta7': {'confir...","{'delta': {'confirmed': 7}, 'delta7': {'confir...","{'delta': {'confirmed': 16}, 'delta7': {'confi...","{'delta': {'confirmed': 7, 'recovered': 11}, '...","{'delta': {'confirmed': 24, 'recovered': 6}, '...","{'delta': {'confirmed': 8}, 'delta7': {'confir...","{'delta': {'confirmed': 13, 'deceased': 2}, 'd...","{'delta': {'confirmed': 11}, 'delta7': {'confi...","{'delta': {'confirmed': 46}, 'delta7': {'confi...","{'delta': {'confirmed': 60, 'recovered': 4}, '...",...,"{'delta7': {'confirmed': 8}, 'total': {'confir...","{'delta7': {'confirmed': 8}, 'total': {'confir...","{'delta7': {'confirmed': 8}, 'total': {'confir...","{'delta': {'confirmed': 2}, 'delta7': {'confir...","{'delta7': {'confirmed': 10}, 'total': {'confi...","{'delta7': {'confirmed': 3}, 'total': {'confir...",NaN,NaN,NaN,NaN

In [ ]:
T1.isnull().sum()

2020-03-26    10
2020-03-27    10
2020-03-28    10
2020-03-29    10
2020-03-30    10
              ..
2020-03-11    25
2020-01-30    36
2020-02-02    36
2020-02-03    36
2020-02-14    36
Length: 613, dtype: int64

In [ ]:
T1.nunique

<bound method DataFrame.nunique of                                            2020-03-26  \
AN  {'delta': {'confirmed': 1}, 'delta7': {'confir...
AP  {'delta': {'confirmed': 1}, 'delta7': {'confir...
AR                                                NaN
AS                                                NaN
BR  {'delta': {'confirmed': 3}, 'delta7': {'confir...
CH  {'delta7': {'confirmed': 6}, 'total': {'confir...
CT  {'delta': {'confirmed': 3}, 'delta7': {'confir...
DL  {'delta': {'confirmed': 4}, 'delta7': {'confir...
DN                                                NaN
GA  {'delta7': {'confirmed': 3}, 'total': {'confir...
GJ  {'delta': {'confirmed': 6}, 'delta7': {'confir...
HP  {'delta7': {'confirmed': 3}, 'total': {'confir...
HR  {'delta': {'confirmed': 1}, 'delta7': {'confir...
JH                                                NaN
JK  {'delta': {'confirmed': 3}, 'delta7': {'confir...
KA  {'delta': {'confirmed': 4, 'deceased': 1}, 'de...
KL  {'delta': {'confirmed': 19}, 'delta7': {'confi...
LA  {'delta7': {'confirmed': 5}, 'total': {'confir...
LD                                                NaN
MH  {'delta': {'confirmed': 3}, 'delta7': {'confir...
ML                                                NaN
MN  {'delta7': {'confirmed': 1}, 'total': {'confir...
MP  {'delta': {'confirmed': 5}, 'delta7': {'confir...
MZ  {'delta7': {'confirmed': 1}, 'total': {'confir...
NL                                                NaN
OR  {'delta': {'confirmed': 1}, 'delta7': {'confir...
PB  {'delta': {'confirmed': 2}, 'delta7': {'confir...
PY                        {'total': {'confirmed': 1}}
RJ  {'delta': {'confirmed': 5}, 'delta7': {'confir...
SK                                                NaN
TG  {'delta': {'confirmed': 4}, 'delta7': {'confir...
TN  {'delta': {'confirmed': 3}, 'delta7': {'confir...
TR                                                NaN
TT  {'delta': {'confirmed': 73, 'deceased': 1, 'te...
UN                                                NaN
UP  {'delta': {'confirmed': 4}, 'delta7': {'confir...
UT  {'delta7': {'confirmed': 2}, 'total': {'confir...
WB  {'delta': {'confirmed': 1}, 'delta7': {'confir...

                                           2020-03-27  \
AN  {'delta': {'confirmed': 5}, 'delta7': {'confir...
AP  {'delta': {'confirmed': 2}, 'delta7': {'confir...
AR                                                NaN
AS                                                NaN
BR  {'delta': {'confirmed': 2}, 'delta7': {'confir...
CH  {'delta': {'confirmed': 1}, 'delta7': {'confir...
CT  {'delta7': {'confirmed': 5}, 'total': {'confir...
DL  {'delta': {'confirmed': 1}, 'delta7': {'confir...
DN                                                NaN
GA  {'delta7': {'confirmed': 3}, 'total': {'confir...
GJ  {'delta': {'confirmed': 3}, 'delta7': {'confir...
HP  {'delta7': {'confirmed': 1}, 'total': {'confir...
HR  {'delta': {'confirmed': 1}, 'delta7': {'confir...
JH                                                NaN
JK  {'delta': {'confirmed': 6}, 'delta7': {'confir...
KA  {'delta': {'confirmed': 9, 'deceased': 1, 'rec...
KL  {'delta': {'confirmed': 39}, 'delta7': {'confi...
LA  {'delta7': {'confirmed': 3}, 'total': {'confir...
LD                                                NaN
MH  {'delta': {'confirmed': 28}, 'delta7': {'confi...
ML                                                NaN
MN  {'delta7': {'confirmed': 1}, 'total': {'confir...
MP  {'delta': {'confirmed': 9}, 'delta7': {'confir...
MZ  {'delta7': {'confirmed': 1}, 'total': {'confir...
NL                                                NaN
OR  {'delta7': {'confirmed': 1}, 'total': {'confir...
PB  {'delta': {'confirmed': 5}, 'delta7': {'confir...
PY                        {'total': {'confirmed': 1}}
RJ  {'delta': {'confirmed': 7}, 'delta7': {'confir...
SK                                                NaN
TG  {'delta': {'confirmed': 14}, 'delta7': {'confi...
TN  {'delta': {'confirmed': 9}, 'delta7': {'confir...
TR                                                NaN
TT  {'delta': {'confirmed': 153, 'deceased': 1, 'r...
UN                                                NaN
UP  {'delta': {'confirmed': 7}, 'delta7': {'confir...
UT  {'delta7': {'confirmed': 2}, 'total': {'confir...
WB  {'delta': {'confirmed': 5}, 'delta7': {'confir...

                                           2020-03-28  \
AN  {'delta': {'confirmed': 3}, 'delta7': {'confir...
AP  {'delta': {'confirmed': 6}, 'delta7': {'confir...
AR                                                NaN
AS                                                NaN
BR  {'delta': {'confirmed': 2}, 'delta7': {'confir...
CH  {'delta7': {'confirmed': 3}, 'total': {'confir...
CT  {'delta': {'confirmed': 1}, 'delta7': {'confir...
DL  {'delta': {'confirmed': 9}, 'delta7': {'confir...
DN                                                NaN
GA  {'delta7': {'confirmed': 3}, 'total': {'confir...
GJ  {'delta': {'confirmed': 8}, 'delta7': {'confir...
HP  {'delta7': {'confirmed': 1}, 'total': {'confir...
HR  {'delta': {'confirmed': 2}, 'delta7': {'confir...
JH                                                NaN
JK  {'delta': {'confirmed': 13}, 'delta7': {'confi...
KA  {'delta': {'confirmed': 12}, 'delta7': {'confi...
KL  {'delta': {'confirmed': 6}, 'delta7': {'confir...
LA                       {'total': {'confirmed': 13}}
LD                                                NaN
MH  {'delta': {'confirmed': 28}, 'delta7': {'confi...
ML                                                NaN
MN  {'delta7': {'confirmed': 1}, 'total': {'confir...
MP  {'delta': {'confirmed': 10}, 'delta7': {'confi...
MZ  {'delta7': {'confirmed': 1}, 'total': {'confir...
NL                                                NaN
OR  {'delta7': {'confirmed': 1}, 'total': {'confir...
PB  {'delta7': {'confirmed': 25}, 'total': {'confi...
PY                        {'total': {'confirmed': 1}}
RJ  {'delta': {'confirmed': 4}, 'delta7': {'confir...
SK                                                NaN
TG  {'delta': {'confirmed': 8}, 'delta7': {'confir...
TN  {'delta': {'confirmed': 4}, 'delta7': {'confir...
TR                                                NaN
TT  {'delta': {'confirmed': 136}, 'delta7': {'conf...
UN                                                NaN
UP  {'delta': {'confirmed': 16}, 'delta7': {'confi...
UT  {'delta': {'confirmed': 1}, 'delta7': {'confir...
WB  {'delta': {'confirmed': 3}, 'delta7': {'confir...

                                           2020-03-29  \
AN  {'delta7': {'confirmed': 9}, 'total': {'confir...
AP  {'delta': {'confirmed': 2, 'recovered': 1}, 'd...
AR                                                NaN
AS                                                NaN
BR  {'delta': {'confirmed': 4, 'deceased': 1}, 'de...
CH  {'delta7': {'confirmed': 2}, 'total': {'confir...
CT  {'delta7': {'confirmed': 6}, 'total': {'confir...
DL  {'delta': {'confirmed': 23, 'deceased': 2, 're...
DN                                                NaN
GA  {'delta': {'confirmed': 2}, 'delta7': {'confir...
GJ  {'delta': {'confirmed': 8, 'deceased': 5, 'rec...
HP  {'delta': {'deceased': 1, 'recovered': 1}, 'de...
HR  {'delta': {'recovered': 14}, 'delta7': {'confi...
JH                                                NaN
JK  {'delta': {'confirmed': 5, 'deceased': 1, 'rec...
KA  {'delta': {'confirmed': 7}, 'delta7': {'confir...
KL  {'delta': {'confirmed': 20, 'deceased': 1, 're...
LA  {'delta': {'recovered': 3}, 'delta7': {'recove...
LD                                                NaN
MH  {'delta': {'confirmed': 22, 'deceased': 8, 're...
ML                                                NaN
MN  {'delta7': {'confirmed': 1}, 'total': {'confir...
MP  {'delta': {'deceased': 2}, 'delta7': {'confirm...
MZ  {'delta7': {'confirmed': 1}, 'total': {'confir...
NL                                                NaN
OR  {'delta7': {'confirmed': 1}, 'total': {'confir...
PB  {'delta': {'deceased': 1, 'recovered': 1}, 'de...
PY                        {'total': {'confirmed': 1}}
RJ  {'delta': {'confirmed': 5, 'recovered': 3}, 'd...
SK                                                NaN
TG  {'delta': {'confirmed': 3, 'deceased': 1, 'rec...
TN  {'delta': {'confirmed': 8, 'deceased': 1, 'rec...
TR                                                NaN
TT  {'delta': {'confirmed': 120, 'deceased': 25, '...
UN                                                NaN
UP  {'delta': {'confirmed': 7, 'recovered': 11}, '...
UT  {'delta': {'confirmed': 1, 'recovered': 2}, 'd...
WB  {'delta': {'confirmed': 3, 'deceased': 1}, 'de...

                                           2020-03-30  \
AN  {'delta': {'confirmed': 1}, 'delta7': {'confir...
AP  {'delta': {'confirmed': 2}, 'delta7': {'confir...
AR                                                NaN
AS                                                NaN
BR  {'delta7': {'confirmed': 12, 'deceased': 1}, '...
CH  {'delta': {'confirmed': 5}, 'delta7': {'confir...
CT  {'delta': {'confirmed': 1}, 'delta7': {'confir...
DL  {'delta': {'confirmed': 25}, 'delta7': {'confi...
DN                                                NaN
GA  {'delta7': {'confirmed': 5}, 'total': {'confir...
GJ  {'delta': {'confirmed': 7, 'deceased': 1, 'rec...
HP  {'delta7': {'deceased': 1, 'recovered': 1}, 't...
HR  {'delta': {'confirmed': 1, 'recovered': 6}, 'd...
JH                                                NaN
JK  {'delta': {'confirmed': 11}, 'delta7': {'confi...
KA  {'delta': {'confirmed': 5, 'recovered': 1}, 'd...
KL  {'delta': {'confirmed': 32}, 'delta7': {'confi...
LA  {'delta7': {'recovered': 3}, 'total': {'confir...
LD                                                NaN
MH  {'delta': {'confirmed': 17, 'deceased': 2, 're...
ML                                                NaN
MN  {'delta7': {'confirmed': 1}, 'total': {'confir...
MP  {'delta': {'confirmed': 8, 'deceased': 2}, 'de...
MZ  {'delta7': {'confirmed': 1}, 'total': {'confir...
NL                                                NaN
OR  {'delta7': {'confirmed': 1}, 'total': {'confir...
PB  {'delta': {'confirmed': 3, 'deceased': 2}, 'de...
PY                        {'total': {'confirmed': 1}}
RJ  {'delta': {'confirmed': 20}, 'delta7': {'confi...
SK                                                NaN
TG  {'delta': {'confirmed': 7, 'deceased': 5, 'rec...
TN  {'delta': {'confirmed': 17}, 'delta7': {'confi...
TR                                                NaN
TT  {'delta': {'confirmed': 187, 'deceased': 13, '...
UN                                                NaN
UP  {'delta': {'confirmed': 24, 'recovered': 6}, '...
UT  {'delta7': {'confirmed': 3, 'recovered': 2}, '...
WB  {'delta': {'confirmed': 1, 'deceased': 1}, 'de...

                                           2020-03-31  \
AN  {'delta7': {'confirmed': 10}, 'total': {'confi...
AP  {'delta': {'confirmed': 21}, 'delta7': {'confi...
AR                                                NaN
AS  {'delta': {'confirmed': 1}, 'delta7': {'confir...
BR  {'delta': {'confirmed': 6}, 'delta7': {'confir...
CH  {'delta': {'confirmed': 2}, 'delta7': {'confir...
CT  {'delta': {'confirmed': 1, 'recovered': 2}, 'd...
DL  {'delta': {'confirmed': 23}, 'delta7': {'confi...
DN                                                NaN
GA  {'delta7': {'confirmed': 5}, 'total': {'confir...
GJ  {'delta': {'confirmed': 4, 'recovered': 2}, 'd...
HP  {'delta7': {'deceased': 1, 'recovered': 1}, 't...
HR  {'delta': {'confirmed': 7, 'recovered': 4}, 'd...
JH  {'delta': {'confirmed': 1}, 'delta7': {'confir...
JK  {'delta': {'confirmed': 6, 'deceased': 1}, 'de...
KA  {'delta': {'confirmed': 13, 'recovered': 2}, '...
KL  {'delta': {'confirmed': 7, 'deceased': 1, 'rec...
LA  {'delta7': {'recovered': 3}, 'total': {'confir...
LD                                                NaN
MH  {'delta': {'confirmed': 82, 'deceased': 1}, 'd...
ML                                                NaN
MN                        {'total': {'confirmed': 1}}
MP  {'delta': {'confirmed': 19, 'deceased': 1}, 'd...
MZ  {'delta7': {'confirmed': 1}, 'total': {'confir...
NL                                                NaN
OR  {'delta': {'confirmed': 1}, 'delta7': {'confir...
PB  {'delta': {'confirmed': 1, 'deceased': 1}, 'de...
PY                        {'total': {'confirmed': 1}}
RJ  {'delta': {'confirmed': 14}, 'delta7': {'confi...
SK                                                NaN
TG  {'delta': {'confirmed': 20}, 'delta7': {'confi...
TN  {'delta': {'confirmed': 57, 'recovered': 2}, '...
TR                                                NaN
TT  {'delta': {'confirmed': 309, 'deceased': 6, 'r...
UN                                                NaN
UP  {'delta': {'confirmed': 8}, 'delta7': {'confir...
UT  {'delta7': {'confirmed': 3, 'recovered': 2}, '...
WB  {'delta': {'confirmed': 15, 'deceased': 1, 're...

                                           2020-04-01  \
AN  {'delta7': {'confirmed': 10}, 'total': {'confi...
AP  {'delta': {'confirmed': 67, 'recovered': 1}, '...
AR                                                NaN
AS  {'delta': {'confirmed': 15}, 'delta7': {'confi...
BR  {'delta': {'confirmed': 3}, 'delta7': {'confir...
CH  {'delta': {'confirmed': 2}, 'delta7': {'confir...
CT  {'delta7': {'confirmed': 6, 'recovered': 2}, '...
DL  {'delta': {'confirmed': 32, 'tested': 2621}, '...
DN                                                NaN
GA  {'delta7': {'confirmed': 2}, 'total': {'confir...
GJ  {'delta': {'confirmed': 13}, 'delta7': {'confi...
HP  {'delta7': {'deceased': 1, 'recovered': 1}, 't...
HR  {'delta': {'recovered': 3}, 'delta7': {'confir...
JH  {'delta7': {'confirmed': 1}, 'total': {'confir...
JK  {'delta': {'confirmed': 7, 'recovered': 1}, 'd...
KA  {'delta': {'confirmed': 9, 'recovered': 1}, 'd...
KL  {'delta': {'confirmed': 24, 'recovered': 2, 't...
LA  {'delta7': {'recovered': 3}, 'total': {'confir...
LD                                                NaN
MH  {'delta': {'confirmed': 33, 'deceased': 5}, 'd...
ML                                                NaN
MN                        {'total': {'confirmed': 1}}
MP  {'delta': {'confirmed': 32, 'deceased': 1}, 'd...
MZ                        {'total': {'confirmed': 1}}
NL                                                NaN
OR  {'delta': {'confirmed': 1, 'recovered': 1}, 'd...
PB  {'delta': {'confirmed': 4}, 'delta7': {'confir...
PY  {'delta': {'confirmed': 2}, 'delta7': {'confir...
RJ  {'delta': {'confirmed': 27}, 'delta7': {'confi...
SK                                                NaN
TG  {'delta': {'confirmed': 30, 'deceased': 3}, 'd...
TN  {'delta': {'confirmed': 110}, 'delta7': {'conf...
TR                                                NaN
TT  {'delta': {'confirmed': 424, 'deceased': 11, '...
UN                                                NaN
UP  {'delta': {'confirmed': 13, 'deceased': 2}, 'd...
UT  {'delta7': {'confirmed': 2, 'recovered': 2}, '...
WB  {'delta': {'tested': 659}, 'delta7': {'confirm...

                                           2020-04-02  \
AN  {'delta7': {'confirmed': 9}, 'total': {'confir...
AP  {'delta': {'confirmed': 38, 'tested': 1800}, '...
AR  {'delta': {'confirmed': 1}, 'delta7': {'confir...
AS  {'delta': {'tested': 962}, 'delta7': {'confirm...
BR  {'delta': {'confirmed': 5, 'recovered': 3}, 'd...
CH  {'delta': {'confirmed': 1, 'tested': 124}, 'de...
CT  {'delta': {'recovered': 1, 'tested': 1232}, 'd...
DL  {'delta': {'confirmed': 141, 'deceased': 2, 'r...
DN                                                NaN
GA  {'delta': {'tested': 220}, 'delta7': {'confirm...
GJ  {'delta': {'confirmed': 1, 'deceased': 1, 'rec...
HP  {'delta': {'confirmed': 3}, 'delta7': {'confir...
HR  {'delta': {'confirmed': 6}, 'delta7': {'confir...
JH  {'delta': {'confirmed': 1}, 'delta7': {'confir...
JK  {'delta': {'confirmed': 8, 'recovered': 1}, 'd...
KA  {'delta': {'confirmed': 14, 'recovered': 2}, '...
KL  {'delta': {'confirmed': 21, 'recovered': 2, 't...
LA  {'delta7': {'recovered': 3}, 'total': {'confir...
LD                                                NaN
MH  {'delta': {'confirmed': 88, 'deceased': 5, 're...
ML                                                NaN
MN  {'delta': {'confirmed': 1}, 'delta7': {'confir...
MP  {'delta': {'confirmed': 9, 'deceased': 2}, 'de...
MZ                        {'total': {'confirmed': 1}}
NL                                                NaN
OR  {'delta7': {'confirmed': 2, 'recovered': 1}, '...
PB  {'delta': {'confirmed': 1, 'deceased': 1, 'tes...
PY  {'delta': {'confirmed': 2}, 'delta7': {'confir...
RJ  {'delta': {'confirmed': 13}, 'delta7': {'confi...
SK                                                NaN
TG  {'delta': {'confirmed': 27, 'recovered': 3}, '...
TN  {'delta': {'confirmed': 75}, 'delta7': {'confi...
TR                                                NaN
TT  {'delta': {'confirmed': 486, 'deceased': 11, '...
UN                                                NaN
UP  {'delta': {'confirmed': 11}, 'delta7': {'confi...
UT  {'delta': {'confirmed': 3, 'tested': 678}, 'de...
WB  {'delta': {'confirmed': 16}, 'delta7': {'confi...

                                           2020-04-03  \
AN  {'delta7': {'confirmed': 4}, 'total': {'confir...
AP  {'delta': {'confirmed': 15, 'deceased': 1}, 'd...
AR  {'delta7': {'confirmed': 1}, 'total': {'confir...
AS  {'delta': {'confirmed': 7}, 'delta7': {'confir...
BR  {'delta': {'confirmed': 2}, 'delta7': {'confir...
CH  {'delta7': {'confirmed': 10, 'tested': 124}, '...
CT  {'delta7': {'confirmed': 3, 'recovered': 3, 't...
DL  {'delta': {'confirmed': 93, 'deceased': 2}, 'd...
DN                                                NaN
GA  {'delta': {'confirmed': 1}, 'delta7': {'confir...
GJ  {'delta': {'confirmed': 7, 'deceased': 2}, 'de...
HP  {'delta': {'deceased': 1}, 'delta7': {'confirm...
HR  {'delta': {'confirmed': 9, 'recovered': 1, 'te...
JH  {'delta7': {'confirmed': 2}, 'total': {'confir...
JK  {'delta': {'confirmed': 5}, 'delta7': {'confir...
KA  {'delta': {'confirmed': 4, 'deceased': 1, 'tes...
KL  {'delta': {'confirmed': 9, 'recovered': 14, 't...
LA  {'delta': {'confirmed': 1}, 'delta7': {'confir...
LD                                                NaN
MH  {'delta': {'confirmed': 64, 'deceased': 5, 're...
ML                                                NaN
MN  {'delta7': {'confirmed': 1}, 'total': {'confir...
MP  {'delta': {'confirmed': 47}, 'delta7': {'confi...
MZ                        {'total': {'confirmed': 1}}
NL                                                NaN
OR  {'delta': {'confirmed': 15, 'recovered': 1, 't...
PB  {'delta': {'confirmed': 6}, 'delta7': {'confir...
PY  {'delta7': {'confirmed': 4}, 'total': {'confir...
RJ  {'delta': {'confirmed': 46}, 'delta7': {'confi...
SK                                                NaN
TG  {'delta': {'confirmed': 75, 'deceased': 2, 're...
TN  {'delta': {'confirmed': 102, 'tested': 3684}, ...
TR                                                NaN
TT  {'delta': {'confirmed': 560, 'deceased': 14, '...
UN                                                NaN
UP  {'delta': {'confirmed': 46}, 'delta7': {'confi...
UT  {'delta': {'confirmed': 6}, 'delta7': {'confir...
WB  {'delta7': {'confirmed': 38, 'deceased': 3, 'r...

                                           2020-04-04  ...  \
AN  {'delta7': {'confirmed': 1}, 'total': {'confir...  ...
AP  {'delta': {'confirmed': 28}, 'delta7': {'confi...  ...
AR  {'delta7': {'confirmed': 1}, 'total': {'confir...  ...
AS  {'delta': {'confirmed': 3}, 'delta7': {'confir...  ...
BR  {'delta': {'confirmed': 1}, 'delta7': {'confir...  ...
CH  {'delta': {'recovered': 3}, 'delta7': {'confir...  ...
CT  {'delta': {'confirmed': 1}, 'delta7': {'confir...  ...
DL  {'delta': {'confirmed': 59, 'recovered': 8}, '...  ...
DN                                                NaN  ...
GA  {'delta': {'confirmed': 1}, 'delta7': {'confir...  ...
GJ  {'delta': {'confirmed': 13, 'deceased': 1, 're...  ...
HP  {'delta': {'confirmed': 7}, 'delta7': {'confir...  ...
HR  {'delta': {'confirmed': 26, 'recovered': 1}, '...  ...
JH  {'delta7': {'confirmed': 2}, 'total': {'confir...  ...
JK  {'delta': {'confirmed': 17}, 'delta7': {'confi...  ...

In [ ]:
T1 = pd.DataFrame([x for x in T1])
T2=pd.DataFrame([x for x in T1])
T2

   0
0  0